

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Watch 800 Words Solarmovies - Free HD Quality</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

<meta http-equiv="content-language" content="en"/>
<link rel="dns-prefetch" href="https://www.google-analytics.com/">
<link rel="dns-prefetch" href="https://www.gstatic.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="https://static.zdassets.com/">
<link rel="dns-prefetch" href="https://s7.addthis.com/">
<link rel="dns-prefetch" href="https://connect.facebook.net/">
<link rel="dns-prefetch" href="https://graph.facebook.com/">
<meta name="description" content="Watch 800 Words TV Shows Free, free download 800 Words full HD with English subtitle on Solarmovies"/>
<meta name="keywords" content="800 Words Solarmovies, 800 Words Solarmovies, watch 800 Words free, download 800 Words free, full 800 Words online, 800 Words full HD"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="https://img.solarmovies.win/xxrz/100x100/100/1e/d6/1ed66c3fd5d717d949289994f35d94c3/1ed66c3fd5d717d949289994f35d94c3.png"
      type="image/x-icon"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://solarmovies.win/tv/watch-800-words-online-37664"/>
<meta property="og:title"
      content="Watch 800 Words Solarmovies - Free HD Quality"/>
<meta property="og:image" content="https://img.solarmovies.win/xxrz/1200x600/373/d9/63/d963c6ad95f64eff5de20e19815d1a68/d963c6ad95f64eff5de20e19815d1a68.jpg"/>
<meta property="og:image:width" content="650">
<meta property="og:image:height" content="350">
<meta property="og:description" content="Watch 800 Words TV Shows Free, free download 800 Words full HD with English subtitle on Solarmovies"/>
<!--Begin: Stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
      href="../css/group_2/theme_1/style.min.css@v=8.4.css">
<!--End: Stylesheet-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=UA-206276194-1""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206276194-1');
</script>



</head>
<body>
<div id="app">
    
<div id="sidebar_menu_bg"></div>
<div id="sidebar_menu" class="active">
    <a id="sidebar_close" class="btn btn-sm btn-radius"><i class="fas fa-chevron-left"></i>Close sidebar</a>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item"><a class="nav-link with-icon" href="../index.html" title="Home"><i
                        class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../top-imdb.html" title="Top IMDB"><i
                        class="fas fa-rocket"></i>Top
                IMDB</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../movie.html" title="Movies"><i
                        class="fas fa-film"></i>Movies</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../tv-show.html" title="TV Shows"><i
                        class="fas fa-tv"></i>TV Shows</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../android-movies-apk.html" title="Android App"><i
                        class="fab fa-android"></i>Android App</a></li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_genre"
                 aria-expanded="false" aria-controls="sidebar_subs_genre">
                <a class="nav-link" href="javascript:void(0)">Genre</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_genre">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action.html"
                                                title="Action">Action</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action-adventure.html"
                                                title="Action &amp; Adventure">Action &amp; Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/adventure.html"
                                                title="Adventure">Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/animation.html"
                                                title="Animation">Animation</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/biography.html"
                                                title="Biography">Biography</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/comedy.html"
                                                title="Comedy">Comedy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/crime.html"
                                                title="Crime">Crime</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/documentary.html"
                                                title="Documentary">Documentary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/drama.html"
                                                title="Drama">Drama</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/family.html"
                                                title="Family">Family</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/fantasy.html"
                                                title="Fantasy">Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/history.html"
                                                title="History">History</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/horror.html"
                                                title="Horror">Horror</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/kids.html"
                                                title="Kids">Kids</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/music.html"
                                                title="Music">Music</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/mystery.html"
                                                title="Mystery">Mystery</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/news.html"
                                                title="News">News</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/reality.html"
                                                title="Reality">Reality</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/romance.html"
                                                title="Romance">Romance</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/sci-fi-fantasy.html"
                                                title="Sci-Fi &amp; Fantasy">Sci-Fi &amp; Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/science-fiction.html"
                                                title="Science Fiction">Science Fiction</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/soap.html"
                                                title="Soap">Soap</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/talk.html"
                                                title="Talk">Talk</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/thriller.html"
                                                title="Thriller">Thriller</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/tv-movie.html"
                                                title="TV Movie">TV Movie</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war.html"
                                                title="War">War</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war-politics.html"
                                                title="War &amp; Politics">War &amp; Politics</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/western.html"
                                                title="Western">Western</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_country"
                 aria-expanded="false" aria-controls="sidebar_subs_country">
                <a class="nav-link" href="javascript:void(0)">Country</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_country">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AR.html"
                                                title="Argentina">Argentina</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AU.html"
                                                title="Australia">Australia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AT.html"
                                                title="Austria">Austria</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BE.html"
                                                title="Belgium">Belgium</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BR.html"
                                                title="Brazil">Brazil</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CA.html"
                                                title="Canada">Canada</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CN.html"
                                                title="China">China</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CZ.html"
                                                title="Czech Republic">Czech Republic</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DK.html"
                                                title="Denmark">Denmark</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FI.html"
                                                title="Finland">Finland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FR.html"
                                                title="France">France</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DE.html"
                                                title="Germany">Germany</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HK.html"
                                                title="Hong Kong">Hong Kong</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HU.html"
                                                title="Hungary">Hungary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IN.html"
                                                title="India">India</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IE.html"
                                                title="Ireland">Ireland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IL.html"
                                                title="Israel">Israel</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IT.html"
                                                title="Italy">Italy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/JP.html"
                                                title="Japan">Japan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/LU.html"
                                                title="Luxembourg">Luxembourg</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/MX.html"
                                                title="Mexico">Mexico</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NL.html"
                                                title="Netherlands">Netherlands</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NZ.html"
                                                title="New Zealand">New Zealand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NO.html"
                                                title="Norway">Norway</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/PL.html"
                                                title="Poland">Poland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RO.html"
                                                title="Romania">Romania</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RU.html"
                                                title="Russia">Russia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ZA.html"
                                                title="South Africa">South Africa</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/KR.html"
                                                title="South Korea">South Korea</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ES.html"
                                                title="Spain">Spain</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/SE.html"
                                                title="Sweden">Sweden</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CH.html"
                                                title="Switzerland">Switzerland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TW.html"
                                                title="Taiwan">Taiwan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TH.html"
                                                title="Thailand">Thailand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/GB.html"
                                                title="United Kingdom">United Kingdom</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/US.html"
                                                title="United States of America">United States of America</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sb_footer">
        <div class="sb_f-menu">
            <a href="../terms.html" title="Terms of service">Terms of service</a><span class="space">-</span>
            <a href="../contact.html" title="Contact">Contact</a><span class="space">-</span>
            <a href="../sitemap.xml" title="Sitemap">Sitemap</a>
            
            
            <div class="sb_f-copyright">© 2020 Solarmovies</div>
        </div>
    </div>
</div>

    <div id="wrapper">
        <div id="header">
    <div class="container">
        <div id="mobile_menu"><i class="fas fa-bars"></i></div>
        <a href="../index.html" id="logo" title="Solarmovies"><img
                    src="https://img.solarmovies.win/xxrz/400x400/100/dd/b2/ddb2bac796109ce3c61b955f4854ef9d/ddb2bac796109ce3c61b955f4854ef9d.png"
                    title="Solarmovies" alt="Solarmovies">
            
        </a>
        <div id="search">
            <div class="search-content">
                <form @submit="search">
                    <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                           name="keyword" placeholder="Enter keywords...">
<!--                    <a data-toggle="modal" data-target="#modalfilter" class="btn btn-sm search-filter"><i class="fas fa-sliders-h"></i></a>-->
                    <button class="btn btn-sm search-submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav search-result-pop search-suggest"></div>
            </div>
        </div>
        <div id="header_right">
            <div id="user-slot"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

        <!--Begin: Main-->
        <div id="main-wrapper" class="main-wrapper-detail">
            <!--Begin: Detail-->
            <div class="detail_page detail_page-style">
                <div class="container">
                    <div class="prebreadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item">
                                    
                                    <a href="../tv-show.html"
                                       title="TV Shows">TV Shows</a>
                                    
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">800 Words</li>
                            </ol>
                        </nav>
                    </div>
                    <!--Begin: Watch-->
                    <div class="detail_page-watch" data-id="37664" data-type="2">
                        <div class="dp-w-cover"
                             style="background-image: url(https://img.solarmovies.win/xxrz/1200x600/373/d9/63/d963c6ad95f64eff5de20e19815d1a68/d963c6ad95f64eff5de20e19815d1a68.jpg);">
                            
                                
                                    <a href="javascript:void(0)" class="dp-w-c-play goto-seasons"><i
                                                class="fas fa-play"></i></a>
                                
                            
                        </div>
                        <div class="detail_page-infor border-bottom-block">
                            <div class="dp-i-content">
                                <div class="dp-i-c-poster">
                                    <div class="film-poster mb-2">
                                        <img class="film-poster-img"
                                             src="https://img.solarmovies.win/xxrz/250x400/373/27/c0/27c0be81e5b1aace17a2bf6a3e75d74a/27c0be81e5b1aace17a2bf6a3e75d74a.jpg"
                                             title="800 Words"
                                             alt="800 Words">
                                    </div>
                                    <div class="block-rating" id="block-rating"></div>
                                </div>
                                <div class="dp-i-c-right">
                                    <div class="dp-i-c-stick mb-0">
                                        
                                            
                                            <a href="javascript:void(0)"
                                               title="Watch now"
                                               class="goto-seasons btn btn-radius btn-focus float-right"><i
                                                        class="fas fa-play mr-2"></i>Watch now
                                            </a>
                                            
                                        
                                        <div style="width: 100%; display: contents;" id="favorite-state"
                                             class="float-right"></div>
                                        
                                    </div>
                                    <h2 class="heading-name"><a
            href="800-words-37664.html">800 Words</a></h2>
<div class="dp-i-stats">
    <span class="item mr-1"><button data-toggle="modal" data-target="#modaltrailer" class="btn btn-sm btn-trailer"><i
                    class="fas fa-video mr-2"></i>Trailer</button></span>
    <span class="item mr-1"><button
                class="btn btn-sm btn-quality"><strong>HD</strong></button></span>
    <span class="item mr-2"><button
                class="btn btn-sm btn-warning">IMDB: 7.9</button></span>
</div>
<div class="description">
    A recently widowed father, quits his job as a popular 800 word columnist for a top selling Sydney newspaper. Over the internet he buys a house on an impulse in a remote New Zealand seaside town. He then has to break the news to his two teenage kids who just lost their mum, and now face an even more uncertain future. But the colourful and inquisitive locals ensure his dream of a fresh start does not go to plan.
</div>
<div class="elements">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Released: </strong></span> 2015-09-15
            </div>
            <div class="row-line">
                <span class="type"><strong>Genre: </strong></span>
                
                    <a href="../genre/comedy.html"
                       title="Comedy">Comedy</a>, 
                
                    <a href="../genre/drama.html"
                       title="Drama">Drama</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Casts: </strong></span>
                
                    <a href="../cast/erik-thomson.html"
                       title="Erik Thomson">Erik Thomson</a>, 
                
                    <a href="../cast/melina-vidler.html"
                       title="Melina Vidler">Melina Vidler</a>, 
                
                    <a href="../cast/benson-jack-anthony.html"
                       title="Benson Jack Anthony">Benson Jack Anthony</a>, 
                
                    <a href="../cast/rick-donald.html"
                       title="Rick Donald">Rick Donald</a>, 
                
                    <a href="../cast/jonny-brugh.html"
                       title="Jonny Brugh">Jonny Brugh</a>
                
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Duration: </strong></span> 60
                min
            </div>
            <div class="row-line">
                <span class="type"><strong>Country: </strong></span>
                
                    <a href="../country/au.html"
                       title="Australia">Australia</a>, 
                
                    <a href="../country/nz.html"
                       title="New Zealand">New Zealand</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Production: </strong></span>
                
                    <a href="../production/south-pacific-pictures.html"
                       title="South Pacific Pictures">South Pacific Pictures</a>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-tags mb-3">
                        <h2 class="btn btn-sm btn-light btn-dtag">Watch 800 Words Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">800 Words Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Where to watch 800 Words</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">800 Words movie free online</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">800 Words free online</h2>
                    </div>
                    <!--End: Watch-->
                    <div class="addthis_inline_share_toolbox" data-url="https://solarmovies.win/tv/watch-800-words-online-37664"
                         style="margin-top: 20px; margin-bottom: 20px; text-align: center;"></div>
                    
                        <div id="content-episodes"></div>
                    
                </div>
            </div>
            <!--End: Detail-->
            <!--Begin: Related-->
            <div class="film_related file_realted-list">
                <div class="container">
                    <!--Begin: Section film list-->
                    <section class="block_area block_area_category">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">You may also like</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content block_area-list film_list film_list-grid">
                            <div class="film_list-wrap">
                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f8/e6/f8e64091b732d47bd01466b14be50b31/f8e64091b732d47bd01466b14be50b31.jpg" class="film-poster-img lazyload"
             title="1-800-HOT-NITE" alt="1-800-HOT-NITE">
        <a href="../movie/1-800-hot-nite-89887.html" class="film-poster-ahref flw-item-tip"
           title="1-800-HOT-NITE" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/1-800-hot-nite-89887.html" 
                        title="1-800-HOT-NITE">1-800-HOT-NITE</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>94m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/81/c1/81c1bbe390127ae4f2fd44fb8b6295b6/81c1bbe390127ae4f2fd44fb8b6295b6.jpg" class="film-poster-img lazyload"
             title="Aida Rodriguez: Fighting Words" alt="Aida Rodriguez: Fighting Words">
        <a href="../movie/aida-rodriguez-fighting-words-73918.html" class="film-poster-ahref flw-item-tip"
           title="Aida Rodriguez: Fighting Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/aida-rodriguez-fighting-words-73918.html" 
                        title="Aida Rodriguez: Fighting Words">Aida Rodriguez: Fighting Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>63m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/bb/c5/bbc54e4154d89a5fd8a86e63064e02e9/bbc54e4154d89a5fd8a86e63064e02e9.jpg" class="film-poster-img lazyload"
             title="History of Swear Words" alt="History of Swear Words">
        <a href="history-of-swear-words-67067.html" class="film-poster-ahref flw-item-tip"
           title="History of Swear Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="history-of-swear-words-67067.html" 
                        title="History of Swear Words">History of Swear Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 6</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5d/e3/5de31fef2e913a5902a95d8b55e931b9/5de31fef2e913a5902a95d8b55e931b9.jpg" class="film-poster-img lazyload"
             title="Last Words" alt="Last Words">
        <a href="../movie/last-words-75550.html" class="film-poster-ahref flw-item-tip"
           title="Last Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/last-words-75550.html" 
                        title="Last Words">Last Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>120m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/9c/39/9c3984dfa5eb7943fe406d1644963887/9c3984dfa5eb7943fe406d1644963887.jpg" class="film-poster-img lazyload"
             title="In Other Words" alt="In Other Words">
        <a href="../movie/in-other-words-63450.html" class="film-poster-ahref flw-item-tip"
           title="In Other Words" rel=&#34;nofollow&#34;><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/in-other-words-63450.html" rel=&#34;nofollow&#34;
                        title="In Other Words">In Other Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>98m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/20/a3/20a3295941f2fd7e4d585a0a24ad5076/20a3295941f2fd7e4d585a0a24ad5076.jpg" class="film-poster-img lazyload"
             title="Words on Bathroom Walls" alt="Words on Bathroom Walls">
        <a href="../movie/words-on-bathroom-walls-64574.html" class="film-poster-ahref flw-item-tip"
           title="Words on Bathroom Walls" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/words-on-bathroom-walls-64574.html" 
                        title="Words on Bathroom Walls">Words on Bathroom Walls</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>110m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/1f/c7/1fc7289cafd12cb4a90ea40bb8971773/1fc7289cafd12cb4a90ea40bb8971773.jpg" class="film-poster-img lazyload"
             title="Unabomber: In His Own Words" alt="Unabomber: In His Own Words">
        <a href="unabomber-in-his-own-words-62093.html" class="film-poster-ahref flw-item-tip"
           title="Unabomber: In His Own Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="unabomber-in-his-own-words-62093.html" 
                        title="Unabomber: In His Own Words">Unabomber: In His Own Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 4</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/95/9b/959b7095411ebb95243a2cf57b279e23/959b7095411ebb95243a2cf57b279e23.jpg" class="film-poster-img lazyload"
             title="Peter Cushing: In His Own Words" alt="Peter Cushing: In His Own Words">
        <a href="../movie/peter-cushing-in-his-own-words-80029.html" class="film-poster-ahref flw-item-tip"
           title="Peter Cushing: In His Own Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/peter-cushing-in-his-own-words-80029.html" 
                        title="Peter Cushing: In His Own Words">Peter Cushing: In His Own Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>74m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5d/e8/5de85f0aac6b98e42a0adfb625735394/5de85f0aac6b98e42a0adfb625735394.jpg" class="film-poster-img lazyload"
             title="Romeo and Juliet: Beyond Words" alt="Romeo and Juliet: Beyond Words">
        <a href="../movie/romeo-and-juliet-beyond-words-59079.html" class="film-poster-ahref flw-item-tip"
           title="Romeo and Juliet: Beyond Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/romeo-and-juliet-beyond-words-59079.html" 
                        title="Romeo and Juliet: Beyond Words">Romeo and Juliet: Beyond Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>N/A</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/97/4d/974da3a21c317a79db4779d560fbb5eb/974da3a21c317a79db4779d560fbb5eb.jpg" class="film-poster-img lazyload"
             title="Mystery 101: Words Can Kill" alt="Mystery 101: Words Can Kill">
        <a href="../movie/mystery-101-words-can-kill-49962.html" class="film-poster-ahref flw-item-tip"
           title="Mystery 101: Words Can Kill" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/mystery-101-words-can-kill-49962.html" 
                        title="Mystery 101: Words Can Kill">Mystery 101: Words Can Kill</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>84m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/34/7e/347e17cc2b02006ffa9c6ff86e4c5d46/347e17cc2b02006ffa9c6ff86e4c5d46.jpg" class="film-poster-img lazyload"
             title="Marianne &amp; Leonard: Words of Love" alt="Marianne &amp; Leonard: Words of Love">
        <a href="../movie/marianne-and-leonard-words-of-love-11345.html" class="film-poster-ahref flw-item-tip"
           title="Marianne &amp; Leonard: Words of Love" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/marianne-and-leonard-words-of-love-11345.html" 
                        title="Marianne &amp; Leonard: Words of Love">Marianne &amp; Leonard: Words of Love</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>98m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/24/2f/242f291febd5fbc3f813d4e59a3b7839/242f291febd5fbc3f813d4e59a3b7839.jpg" class="film-poster-img lazyload"
             title="RUTH - Justice Ginsburg in her own Words" alt="RUTH - Justice Ginsburg in her own Words">
        <a href="../movie/ruth-justice-ginsburg-in-her-own-words-68212.html" class="film-poster-ahref flw-item-tip"
           title="RUTH - Justice Ginsburg in her own Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/ruth-justice-ginsburg-in-her-own-words-68212.html" 
                        title="RUTH - Justice Ginsburg in her own Words">RUTH - Justice Ginsburg in her own Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>89m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/38/9d/389daba2a5c5fefcbd08f558434f1de2/389daba2a5c5fefcbd08f558434f1de2.jpg" class="film-poster-img lazyload"
             title="The Place of No Words" alt="The Place of No Words">
        <a href="../movie/the-place-of-no-words-43013.html" class="film-poster-ahref flw-item-tip"
           title="The Place of No Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/the-place-of-no-words-43013.html" 
                        title="The Place of No Words">The Place of No Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>N/A</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/17/f1/17f1a0fd8f9d9ce9bf95b35179c72d08/17f1a0fd8f9d9ce9bf95b35179c72d08.jpg" class="film-poster-img lazyload"
             title="52 Words for Love" alt="52 Words for Love">
        <a href="../movie/52-words-for-love-64780.html" class="film-poster-ahref flw-item-tip"
           title="52 Words for Love" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/52-words-for-love-64780.html" 
                        title="52 Words for Love">52 Words for Love</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2018</span>
                    <i class="dot"></i>
                    <span>89m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/e2/12/e21215526c389d2d8be6fcb7454637d8/e21215526c389d2d8be6fcb7454637d8.jpg" class="film-poster-img lazyload"
             title="Conrad &amp; Michelle: If Words Could Kill" alt="Conrad &amp; Michelle: If Words Could Kill">
        <a href="../movie/conrad-and-michelle-if-words-could-kill-14645.html" class="film-poster-ahref flw-item-tip"
           title="Conrad &amp; Michelle: If Words Could Kill" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/conrad-and-michelle-if-words-could-kill-14645.html" 
                        title="Conrad &amp; Michelle: If Words Could Kill">Conrad &amp; Michelle: If Words Could Kill</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2018</span>
                    <i class="dot"></i>
                    <span>90m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/d4/06/d406dac6d48167a2de2ccd435d9c7390/d406dac6d48167a2de2ccd435d9c7390.jpg" class="film-poster-img lazyload"
             title="Diana: In Her Own Words" alt="Diana: In Her Own Words">
        <a href="../movie/diana-in-her-own-words-63455.html" class="film-poster-ahref flw-item-tip"
           title="Diana: In Her Own Words" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../movie/diana-in-her-own-words-63455.html" 
                        title="Diana: In Her Own Words">Diana: In Her Own Words</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2017</span>
                    <i class="dot"></i>
                    <span>113m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                    <!--End: Section film list-->
                </div>
            </div>
            <!--End: Related-->
        </div>
        <!--End: Main-->
    </div>
    <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
<h1 style="display: none;">Watch 800 Words Solarmovies - Free HD Quality</h1>

    <!--Begin: Modal-->
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="modallogintitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <!--Begin: tab login-->
                <div id="modal-tab-login" class="tab-pane active auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="login" method="post">
                            <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                            <div class="form-group">
                                <label class="prelabel" for="email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-check custom-control custom-checkbox">
                                <div class="float-left">
                                    <input name="remember" v-model="remember" type="checkbox"
                                           class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <div class="float-right">
                                    <a @click="show_forgot" href="javascript:void(0)"
                                       class="link-highlight text-forgot">Forgot password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="loading-relative" id="login-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Don't have an account? <a @click="show_register" href="javascript:void(0)"
                                                  class="link-highlight"
                                                  title="Register">Register</a>
                    </div>
                </div>
                <!--End: tab login-->
                <!--Begin: tab forgot-->
                <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="forgot_password" method="post">
                            <div class="form-group">
                                <label class="prelabel" for="forgot-email">Your Email</label>
                                <input v-model="email" type="email" class="form-control" id="forgot-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a @click="show_login" class="link-highlight" title="Sign-in"><i
                                    class="fa fa-angle-left mr-2"></i>Back
                            to Login</a>
                    </div>
                </div>
                <!--End: tab forgot-->
                <!--Begin: tab register-->
                <div id="modal-tab-register" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="register" method="post">
                            <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-username">Your name</label>
                                <input v-model="name" type="text" class="form-control" id="re-username"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="re-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="re-password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel"
                                       for="re-confirmpassword">Confirm Password</label>
                                <input v-model="confirm_password" type="password" class="form-control"
                                       id="re-confirmpassword"
                                       placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Register</button>
                                <div class="loading-relative" id="register-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Have an account? <a @click="show_login" class="link-highlight"
                                            title="Login">Login</a>
                    </div>
                </div>
                <!--End: tab register-->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade premodal premodal-trailer" id="modaltrailer" tabindex="-1" role="dialog"
         aria-labelledby="modaltrailertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="iframe16x9">
                        <iframe width="560" height="315"
                                id="iframe-trailer" data-src="https://www.youtube.com/embed/HpFgrRBJa1M"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Modal-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da59293a14f83e9" async></script>

    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=77196c29-9d2b-4414-bc79-7543a13d07e3" async></script>
    <!-- End of  Zendesk Widget script -->

<script type="text/javascript" src="../js/sly.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/psbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
<script>var currPage = 'detail';</script>
<script type="text/javascript"
        src="../js/group_2/app.min.js@v=6.3"></script>



<script>
    $(document).ready(function () {
        check_favorite();
        // get_episodes();
        vote_info();

        if (movie.type == 2) {
            $.get("/ajax/v2/tv/seasons/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        } else {
            $.get("/ajax/movie/episodes/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        }
    });
</script>
</body>
</html>
