

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Watch 577 Project Solarmovies - Free HD Quality</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

<meta http-equiv="content-language" content="en"/>
<link rel="dns-prefetch" href="https://www.google-analytics.com/">
<link rel="dns-prefetch" href="https://www.gstatic.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="https://static.zdassets.com/">
<link rel="dns-prefetch" href="https://s7.addthis.com/">
<link rel="dns-prefetch" href="https://connect.facebook.net/">
<link rel="dns-prefetch" href="https://graph.facebook.com/">
<meta name="description" content="Watch 577 Project Online Free, free download 577 Project full HD with English subtitle on Solarmovies"/>
<meta name="keywords" content="577 Project Solarmovies, 577 Project Solarmovies, watch 577 Project free, download 577 Project free, full 577 Project online, 577 Project full HD"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="https://img.solarmovies.win/xxrz/100x100/100/1e/d6/1ed66c3fd5d717d949289994f35d94c3/1ed66c3fd5d717d949289994f35d94c3.png"
      type="image/x-icon"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://solarmovies.win/movie/watch-577-project-online-64024"/>
<meta property="og:title"
      content="Watch 577 Project Solarmovies - Free HD Quality"/>
<meta property="og:image" content="https://img.solarmovies.win/xxrz/250x400/373/dd/f3/ddf3fde1e782055eeae1903b794e1102/ddf3fde1e782055eeae1903b794e1102.jpg"/>
<meta property="og:image:width" content="650">
<meta property="og:image:height" content="350">
<meta property="og:description" content="Watch 577 Project Online Free, free download 577 Project full HD with English subtitle on Solarmovies"/>
<!--Begin: Stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
      href="../css/group_2/theme_1/style.min.css@v=8.4.css">
<!--End: Stylesheet-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=UA-206276194-1""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206276194-1');
</script>



</head>
<body>
<div id="app">
    
<div id="sidebar_menu_bg"></div>
<div id="sidebar_menu" class="active">
    <a id="sidebar_close" class="btn btn-sm btn-radius"><i class="fas fa-chevron-left"></i>Close sidebar</a>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item"><a class="nav-link with-icon" href="../index.html" title="Home"><i
                        class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../top-imdb.html" title="Top IMDB"><i
                        class="fas fa-rocket"></i>Top
                IMDB</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../movie.html" title="Movies"><i
                        class="fas fa-film"></i>Movies</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../tv-show.html" title="TV Shows"><i
                        class="fas fa-tv"></i>TV Shows</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../android-movies-apk.html" title="Android App"><i
                        class="fab fa-android"></i>Android App</a></li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_genre"
                 aria-expanded="false" aria-controls="sidebar_subs_genre">
                <a class="nav-link" href="javascript:void(0)">Genre</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_genre">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action.html"
                                                title="Action">Action</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action-adventure.html"
                                                title="Action &amp; Adventure">Action &amp; Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/adventure.html"
                                                title="Adventure">Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/animation.html"
                                                title="Animation">Animation</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/biography.html"
                                                title="Biography">Biography</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/comedy.html"
                                                title="Comedy">Comedy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/crime.html"
                                                title="Crime">Crime</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/documentary.html"
                                                title="Documentary">Documentary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/drama.html"
                                                title="Drama">Drama</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/family.html"
                                                title="Family">Family</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/fantasy.html"
                                                title="Fantasy">Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/history.html"
                                                title="History">History</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/horror.html"
                                                title="Horror">Horror</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/kids.html"
                                                title="Kids">Kids</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/music.html"
                                                title="Music">Music</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/mystery.html"
                                                title="Mystery">Mystery</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/news.html"
                                                title="News">News</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/reality.html"
                                                title="Reality">Reality</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/romance.html"
                                                title="Romance">Romance</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/sci-fi-fantasy.html"
                                                title="Sci-Fi &amp; Fantasy">Sci-Fi &amp; Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/science-fiction.html"
                                                title="Science Fiction">Science Fiction</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/soap.html"
                                                title="Soap">Soap</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/talk.html"
                                                title="Talk">Talk</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/thriller.html"
                                                title="Thriller">Thriller</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/tv-movie.html"
                                                title="TV Movie">TV Movie</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war.html"
                                                title="War">War</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war-politics.html"
                                                title="War &amp; Politics">War &amp; Politics</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/western.html"
                                                title="Western">Western</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_country"
                 aria-expanded="false" aria-controls="sidebar_subs_country">
                <a class="nav-link" href="javascript:void(0)">Country</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_country">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AR.html"
                                                title="Argentina">Argentina</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AU.html"
                                                title="Australia">Australia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AT.html"
                                                title="Austria">Austria</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BE.html"
                                                title="Belgium">Belgium</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BR.html"
                                                title="Brazil">Brazil</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CA.html"
                                                title="Canada">Canada</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CN.html"
                                                title="China">China</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CZ.html"
                                                title="Czech Republic">Czech Republic</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DK.html"
                                                title="Denmark">Denmark</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FI.html"
                                                title="Finland">Finland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FR.html"
                                                title="France">France</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DE.html"
                                                title="Germany">Germany</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HK.html"
                                                title="Hong Kong">Hong Kong</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HU.html"
                                                title="Hungary">Hungary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IN.html"
                                                title="India">India</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IE.html"
                                                title="Ireland">Ireland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IL.html"
                                                title="Israel">Israel</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IT.html"
                                                title="Italy">Italy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/JP.html"
                                                title="Japan">Japan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/LU.html"
                                                title="Luxembourg">Luxembourg</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/MX.html"
                                                title="Mexico">Mexico</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NL.html"
                                                title="Netherlands">Netherlands</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NZ.html"
                                                title="New Zealand">New Zealand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NO.html"
                                                title="Norway">Norway</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/PL.html"
                                                title="Poland">Poland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RO.html"
                                                title="Romania">Romania</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RU.html"
                                                title="Russia">Russia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ZA.html"
                                                title="South Africa">South Africa</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/KR.html"
                                                title="South Korea">South Korea</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ES.html"
                                                title="Spain">Spain</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/SE.html"
                                                title="Sweden">Sweden</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CH.html"
                                                title="Switzerland">Switzerland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TW.html"
                                                title="Taiwan">Taiwan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TH.html"
                                                title="Thailand">Thailand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/GB.html"
                                                title="United Kingdom">United Kingdom</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/US.html"
                                                title="United States of America">United States of America</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sb_footer">
        <div class="sb_f-menu">
            <a href="../terms.html" title="Terms of service">Terms of service</a><span class="space">-</span>
            <a href="../contact.html" title="Contact">Contact</a><span class="space">-</span>
            <a href="../sitemap.xml" title="Sitemap">Sitemap</a>
            
            
            <div class="sb_f-copyright">© 2020 Solarmovies</div>
        </div>
    </div>
</div>

    <div id="wrapper">
        <div id="header">
    <div class="container">
        <div id="mobile_menu"><i class="fas fa-bars"></i></div>
        <a href="../index.html" id="logo" title="Solarmovies"><img
                    src="https://img.solarmovies.win/xxrz/400x400/100/dd/b2/ddb2bac796109ce3c61b955f4854ef9d/ddb2bac796109ce3c61b955f4854ef9d.png"
                    title="Solarmovies" alt="Solarmovies">
            
        </a>
        <div id="search">
            <div class="search-content">
                <form @submit="search">
                    <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                           name="keyword" placeholder="Enter keywords...">
<!--                    <a data-toggle="modal" data-target="#modalfilter" class="btn btn-sm search-filter"><i class="fas fa-sliders-h"></i></a>-->
                    <button class="btn btn-sm search-submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav search-result-pop search-suggest"></div>
            </div>
        </div>
        <div id="header_right">
            <div id="user-slot"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

        <!--Begin: Main-->
        <div id="main-wrapper" class="main-wrapper-detail">
            <!--Begin: Detail-->
            <div class="detail_page detail_page-style">
                <div class="container">
                    <div class="prebreadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item">
                                    
                                    <a href="../movie.html" title="Movie">Movies</a>
                                    
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">577 Project</li>
                            </ol>
                        </nav>
                    </div>
                    <!--Begin: Watch-->
                    <div class="detail_page-watch" data-id="64024" data-type="1">
                        <div class="dp-w-cover"
                             style="background-image: url();">
                            
                                
                                    <a href="../watch-movie/watch-577-project-online-64024.html"
                                       class="dp-w-c-play"><i class="fas fa-play"></i></a>
                                
                            
                        </div>
                        <div class="detail_page-infor border-bottom-block">
                            <div class="dp-i-content">
                                <div class="dp-i-c-poster">
                                    <div class="film-poster mb-2">
                                        <img class="film-poster-img"
                                             src="https://img.solarmovies.win/xxrz/250x400/373/dd/f3/ddf3fde1e782055eeae1903b794e1102/ddf3fde1e782055eeae1903b794e1102.jpg"
                                             title="577 Project"
                                             alt="577 Project">
                                    </div>
                                    <div class="block-rating" id="block-rating"></div>
                                </div>
                                <div class="dp-i-c-right">
                                    <div class="dp-i-c-stick mb-0">
                                        
                                            
                                                <a href="../watch-movie/watch-577-project-online-64024.html"
                                                   title="Watch now"
                                                   class="btn btn-radius btn-focus float-right"><i
                                                            class="fas fa-play mr-2"></i>Watch now
                                                </a>
                                            
                                        
                                        <div style="width: 100%; display: contents;" id="favorite-state"
                                             class="float-right"></div>
                                        
                                    </div>
                                    <h2 class="heading-name"><a
            href="577-project-64024.html">577 Project</a></h2>
<div class="dp-i-stats">
    <span class="item mr-1"><button data-toggle="modal" data-target="#modaltrailer" class="btn btn-sm btn-trailer"><i
                    class="fas fa-video mr-2"></i>Trailer</button></span>
    <span class="item mr-1"><button
                class="btn btn-sm btn-quality"><strong>HD</strong></button></span>
    <span class="item mr-2"><button
                class="btn btn-sm btn-warning">IMDB: 6.4</button></span>
</div>
<div class="description">
    Ha Jung Woo promised that if he won the best actor award 2 years in a row he would walk across South Korea. He did and the adventure begins.
</div>
<div class="elements">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Released: </strong></span> 2012-08-30
            </div>
            <div class="row-line">
                <span class="type"><strong>Genre: </strong></span>
                
                    <a href="../genre/adventure.html"
                       title="Adventure">Adventure</a>, 
                
                    <a href="../genre/drama.html"
                       title="Drama">Drama</a>, 
                
                    <a href="../genre/comedy.html"
                       title="Comedy">Comedy</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Casts: </strong></span>
                
                    <a href="../cast/moon-choi.html"
                       title="Moon Choi">Moon Choi</a>, 
                
                    <a href="../cast/cha-hyunwoo.html"
                       title="Cha Hyun-woo">Cha Hyun-woo</a>, 
                
                    <a href="../cast/kim-sungkyun.html"
                       title="Kim Sung-kyun">Kim Sung-kyun</a>, 
                
                    <a href="../cast/gong-hyojin.html"
                       title="Gong Hyo-jin">Gong Hyo-jin</a>, 
                
                    <a href="../cast/ha-jungwoo.html"
                       title="Ha Jung-woo">Ha Jung-woo</a>
                
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Duration: </strong></span> 99
                min
            </div>
            <div class="row-line">
                <span class="type"><strong>Country: </strong></span>
                
                    <a href="../country/kr.html"
                       title="South Korea">South Korea</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Production: </strong></span>
                
                    <a href="../production/dasepo-club.html"
                       title="Dasepo Club">Dasepo Club</a>, 
                
                    <a href="../production/fantagio.html"
                       title="Fantagio">Fantagio</a>, 
                
                    <a href="../production/filament-pictures.html"
                       title="Filament Pictures">Filament Pictures</a>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-tags mb-3">
                        <h2 class="btn btn-sm btn-light btn-dtag">Watch 577 Project Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">577 Project Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Where to watch 577 Project</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">577 Project movie free online</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">577 Project free online</h2>
                    </div>
                    <!--End: Watch-->
                    <div class="addthis_inline_share_toolbox" data-url="https://solarmovies.win/movie/watch-577-project-online-64024"
                         style="margin-top: 20px; margin-bottom: 20px; text-align: center;"></div>
                    
                        <div id="content-episodes"></div>
                    
                </div>
            </div>
            <!--End: Detail-->
            <!--Begin: Related-->
            <div class="film_related file_realted-list">
                <div class="container">
                    <!--Begin: Section film list-->
                    <section class="block_area block_area_category">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">You may also like</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content block_area-list film_list film_list-grid">
                            <div class="film_list-wrap">
                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/a6/e9/a6e9b73f9e809c36d907cc91d3901a7d/a6e9b73f9e809c36d907cc91d3901a7d.jpg" class="film-poster-img lazyload"
             title="Project Legion" alt="Project Legion">
        <a href="project-legion-89095.html" class="film-poster-ahref flw-item-tip"
           title="Project Legion" rel=&#34;nofollow&#34;><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-legion-89095.html" rel=&#34;nofollow&#34;
                        title="Project Legion">Project Legion</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>89m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/3e/64/3e64f3cb5ee26937b378953a072b6a67/3e64f3cb5ee26937b378953a072b6a67.jpg" class="film-poster-img lazyload"
             title="The Lazarus Project" alt="The Lazarus Project">
        <a href="../tv/the-lazarus-project-82837.html" class="film-poster-ahref flw-item-tip"
           title="The Lazarus Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/the-lazarus-project-82837.html" 
                        title="The Lazarus Project">The Lazarus Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 8</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f8/58/f858b600614f21bbb4e160d07aef2ec6/f858b600614f21bbb4e160d07aef2ec6.jpg" class="film-poster-img lazyload"
             title="The Adam Project" alt="The Adam Project">
        <a href="the-adam-project-78004.html" class="film-poster-ahref flw-item-tip"
           title="The Adam Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-adam-project-78004.html" 
                        title="The Adam Project">The Adam Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>106m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5b/b2/5bb2b04758c8ac029251ef25a0cfad49/5bb2b04758c8ac029251ef25a0cfad49.jpg" class="film-poster-img lazyload"
             title="Project Gemini" alt="Project Gemini">
        <a href="project-gemini-41670.html" class="film-poster-ahref flw-item-tip"
           title="Project Gemini" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-gemini-41670.html" 
                        title="Project Gemini">Project Gemini</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>98m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/8b/cd/8bcdc9151402b8bf05d57b8e4876506e/8bcdc9151402b8bf05d57b8e4876506e.jpg" class="film-poster-img lazyload"
             title="Moebius Project 2012: The Veil" alt="Moebius Project 2012: The Veil">
        <a href="../tv/moebius-project-2012-the-veil-85581.html" class="film-poster-ahref flw-item-tip"
           title="Moebius Project 2012: The Veil" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/moebius-project-2012-the-veil-85581.html" 
                        title="Moebius Project 2012: The Veil">Moebius Project 2012: The Veil</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 2</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/bb/7a/bb7a539f800aa173c0b3825ee826edf1/bb7a539f800aa173c0b3825ee826edf1.jpg" class="film-poster-img lazyload"
             title="Project Pay Day" alt="Project Pay Day">
        <a href="project-pay-day-70604.html" class="film-poster-ahref flw-item-tip"
           title="Project Pay Day" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-pay-day-70604.html" 
                        title="Project Pay Day">Project Pay Day</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>85m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/b0/4c/b04c2b3e6f4822c1f1a4006f8b7cff60/b04c2b3e6f4822c1f1a4006f8b7cff60.jpg" class="film-poster-img lazyload"
             title="Project Christmas Wish" alt="Project Christmas Wish">
        <a href="project-christmas-wish-66416.html" class="film-poster-ahref flw-item-tip"
           title="Project Christmas Wish" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-christmas-wish-66416.html" 
                        title="Project Christmas Wish">Project Christmas Wish</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>84m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/40/56/4056b80dcfaa66782020fa866c1ce126/4056b80dcfaa66782020fa866c1ce126.jpg" class="film-poster-img lazyload"
             title="The Christmas Project Reunion" alt="The Christmas Project Reunion">
        <a href="the-christmas-project-reunion-66085.html" class="film-poster-ahref flw-item-tip"
           title="The Christmas Project Reunion" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-christmas-project-reunion-66085.html" 
                        title="The Christmas Project Reunion">The Christmas Project Reunion</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>87m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/36/f8/36f88597afd91d35a13c3c2dce4ac73c/36f88597afd91d35a13c3c2dce4ac73c.jpg" class="film-poster-img lazyload"
             title="Project Power" alt="Project Power">
        <a href="project-power-63160.html" class="film-poster-ahref flw-item-tip"
           title="Project Power" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-power-63160.html" 
                        title="Project Power">Project Power</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>113m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/e4/4c/e44c0a45c67050aa44006423554eb8ea/e44c0a45c67050aa44006423554eb8ea.jpg" class="film-poster-img lazyload"
             title="Entity Project" alt="Entity Project">
        <a href="entity-project-67600.html" class="film-poster-ahref flw-item-tip"
           title="Entity Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="entity-project-67600.html" 
                        title="Entity Project">Entity Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>87m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f6/0e/f60e4d3da9d2cc735a3935481dc6e306/f60e4d3da9d2cc735a3935481dc6e306.jpg" class="film-poster-img lazyload"
             title="Project Ithaca" alt="Project Ithaca">
        <a href="project-ithaca-46875.html" class="film-poster-ahref flw-item-tip"
           title="Project Ithaca" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-ithaca-46875.html" 
                        title="Project Ithaca">Project Ithaca</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>85m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/ae/9a/ae9ad5aad514141e99d94061a9fd2b1c/ae9ad5aad514141e99d94061a9fd2b1c.jpg" class="film-poster-img lazyload"
             title="The Hummingbird Project" alt="The Hummingbird Project">
        <a href="the-hummingbird-project-4821.html" class="film-poster-ahref flw-item-tip"
           title="The Hummingbird Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-hummingbird-project-4821.html" 
                        title="The Hummingbird Project">The Hummingbird Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>111m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/d2/d2/d2d2aba884f180101ce4d08deec69e82/d2d2aba884f180101ce4d08deec69e82.jpg" class="film-poster-img lazyload"
             title="A Wakefield Project" alt="A Wakefield Project">
        <a href="a-wakefield-project-60571.html" class="film-poster-ahref flw-item-tip"
           title="A Wakefield Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="a-wakefield-project-60571.html" 
                        title="A Wakefield Project">A Wakefield Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>88m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/af/66/af6690d7b4709b5945a5c06da1f404e6/af6690d7b4709b5945a5c06da1f404e6.jpg" class="film-poster-img lazyload"
             title="Project Blue Book" alt="Project Blue Book">
        <a href="../tv/project-blue-book-39411.html" class="film-poster-ahref flw-item-tip"
           title="Project Blue Book" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/project-blue-book-39411.html" 
                        title="Project Blue Book">Project Blue Book</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 2</span>
                    <i class="dot"></i>
                    <span>EPS 10</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/66/45/6645e0d1cbf1a98eb7a96946d2803dd9/6645e0d1cbf1a98eb7a96946d2803dd9.jpg" class="film-poster-img lazyload"
             title="The Infinity Project" alt="The Infinity Project">
        <a href="the-infinity-project-69419.html" class="film-poster-ahref flw-item-tip"
           title="The Infinity Project" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-infinity-project-69419.html" 
                        title="The Infinity Project">The Infinity Project</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2018</span>
                    <i class="dot"></i>
                    <span>86m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/22/92/229263968138f6af1d09dc00b9e9a2f9/229263968138f6af1d09dc00b9e9a2f9.jpg" class="film-poster-img lazyload"
             title="Project Gutenberg" alt="Project Gutenberg">
        <a href="project-gutenberg-7691.html" class="film-poster-ahref flw-item-tip"
           title="Project Gutenberg" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="project-gutenberg-7691.html" 
                        title="Project Gutenberg">Project Gutenberg</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2018</span>
                    <i class="dot"></i>
                    <span>130m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                    <!--End: Section film list-->
                </div>
            </div>
            <!--End: Related-->
        </div>
        <!--End: Main-->
    </div>
    <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
<h1 style="display: none;">Watch 577 Project Solarmovies - Free HD Quality</h1>

    <!--Begin: Modal-->
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="modallogintitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <!--Begin: tab login-->
                <div id="modal-tab-login" class="tab-pane active auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="login" method="post">
                            <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                            <div class="form-group">
                                <label class="prelabel" for="email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-check custom-control custom-checkbox">
                                <div class="float-left">
                                    <input name="remember" v-model="remember" type="checkbox"
                                           class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <div class="float-right">
                                    <a @click="show_forgot" href="javascript:void(0)"
                                       class="link-highlight text-forgot">Forgot password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="loading-relative" id="login-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Don't have an account? <a @click="show_register" href="javascript:void(0)"
                                                  class="link-highlight"
                                                  title="Register">Register</a>
                    </div>
                </div>
                <!--End: tab login-->
                <!--Begin: tab forgot-->
                <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="forgot_password" method="post">
                            <div class="form-group">
                                <label class="prelabel" for="forgot-email">Your Email</label>
                                <input v-model="email" type="email" class="form-control" id="forgot-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a @click="show_login" class="link-highlight" title="Sign-in"><i
                                    class="fa fa-angle-left mr-2"></i>Back
                            to Login</a>
                    </div>
                </div>
                <!--End: tab forgot-->
                <!--Begin: tab register-->
                <div id="modal-tab-register" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="register" method="post">
                            <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-username">Your name</label>
                                <input v-model="name" type="text" class="form-control" id="re-username"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="re-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="re-password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel"
                                       for="re-confirmpassword">Confirm Password</label>
                                <input v-model="confirm_password" type="password" class="form-control"
                                       id="re-confirmpassword"
                                       placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Register</button>
                                <div class="loading-relative" id="register-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Have an account? <a @click="show_login" class="link-highlight"
                                            title="Login">Login</a>
                    </div>
                </div>
                <!--End: tab register-->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade premodal premodal-trailer" id="modaltrailer" tabindex="-1" role="dialog"
         aria-labelledby="modaltrailertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="iframe16x9">
                        <iframe width="560" height="315"
                                id="iframe-trailer" data-src="https://www.youtube.com/embed/"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Modal-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da59293a14f83e9" async></script>

    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=77196c29-9d2b-4414-bc79-7543a13d07e3" async></script>
    <!-- End of  Zendesk Widget script -->

<script type="text/javascript" src="../js/sly.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/psbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
<script>var currPage = 'detail';</script>
<script type="text/javascript"
        src="../js/group_2/app.min.js@v=6.3"></script>



<script>
    $(document).ready(function () {
        check_favorite();
        // get_episodes();
        vote_info();

        if (movie.type == 2) {
            $.get("/ajax/v2/tv/seasons/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        } else {
            $.get("/ajax/movie/episodes/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        }
    });
</script>
</body>
</html>
