

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Watch Phenomenon Solarmovies - Free HD Quality</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

<meta http-equiv="content-language" content="en"/>
<link rel="dns-prefetch" href="https://www.google-analytics.com/">
<link rel="dns-prefetch" href="https://www.gstatic.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="https://static.zdassets.com/">
<link rel="dns-prefetch" href="https://s7.addthis.com/">
<link rel="dns-prefetch" href="https://connect.facebook.net/">
<link rel="dns-prefetch" href="https://graph.facebook.com/">
<meta name="description" content="Watch Phenomenon Online Free, free download Phenomenon full HD with English subtitle on Solarmovies"/>
<meta name="keywords" content="Phenomenon Solarmovies, Phenomenon Solarmovies, watch Phenomenon free, download Phenomenon free, full Phenomenon online, Phenomenon full HD"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="https://img.solarmovies.win/xxrz/100x100/100/1e/d6/1ed66c3fd5d717d949289994f35d94c3/1ed66c3fd5d717d949289994f35d94c3.png"
      type="image/x-icon"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://solarmovies.win/movie/watch-phenomenon-online-13021"/>
<meta property="og:title"
      content="Watch Phenomenon Solarmovies - Free HD Quality"/>
<meta property="og:image" content="https://img.solarmovies.win/xxrz/1200x600/373/c5/4a/c54a426c610c7545d2f83dd5a4b2b4c7/c54a426c610c7545d2f83dd5a4b2b4c7.jpg"/>
<meta property="og:image:width" content="650">
<meta property="og:image:height" content="350">
<meta property="og:description" content="Watch Phenomenon Online Free, free download Phenomenon full HD with English subtitle on Solarmovies"/>
<!--Begin: Stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
      href="../css/group_2/theme_1/style.min.css@v=8.4.css">
<!--End: Stylesheet-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=UA-206276194-1""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206276194-1');
</script>



</head>
<body>
<div id="app">
    
<div id="sidebar_menu_bg"></div>
<div id="sidebar_menu" class="active">
    <a id="sidebar_close" class="btn btn-sm btn-radius"><i class="fas fa-chevron-left"></i>Close sidebar</a>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item"><a class="nav-link with-icon" href="../index.html" title="Home"><i
                        class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../top-imdb.html" title="Top IMDB"><i
                        class="fas fa-rocket"></i>Top
                IMDB</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../movie.html" title="Movies"><i
                        class="fas fa-film"></i>Movies</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../tv-show.html" title="TV Shows"><i
                        class="fas fa-tv"></i>TV Shows</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../android-movies-apk.html" title="Android App"><i
                        class="fab fa-android"></i>Android App</a></li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_genre"
                 aria-expanded="false" aria-controls="sidebar_subs_genre">
                <a class="nav-link" href="javascript:void(0)">Genre</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_genre">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action.html"
                                                title="Action">Action</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action-adventure.html"
                                                title="Action &amp; Adventure">Action &amp; Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/adventure.html"
                                                title="Adventure">Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/animation.html"
                                                title="Animation">Animation</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/biography.html"
                                                title="Biography">Biography</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/comedy.html"
                                                title="Comedy">Comedy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/crime.html"
                                                title="Crime">Crime</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/documentary.html"
                                                title="Documentary">Documentary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/drama.html"
                                                title="Drama">Drama</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/family.html"
                                                title="Family">Family</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/fantasy.html"
                                                title="Fantasy">Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/history.html"
                                                title="History">History</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/horror.html"
                                                title="Horror">Horror</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/kids.html"
                                                title="Kids">Kids</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/music.html"
                                                title="Music">Music</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/mystery.html"
                                                title="Mystery">Mystery</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/news.html"
                                                title="News">News</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/reality.html"
                                                title="Reality">Reality</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/romance.html"
                                                title="Romance">Romance</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/sci-fi-fantasy.html"
                                                title="Sci-Fi &amp; Fantasy">Sci-Fi &amp; Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/science-fiction.html"
                                                title="Science Fiction">Science Fiction</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/soap.html"
                                                title="Soap">Soap</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/talk.html"
                                                title="Talk">Talk</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/thriller.html"
                                                title="Thriller">Thriller</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/tv-movie.html"
                                                title="TV Movie">TV Movie</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war.html"
                                                title="War">War</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war-politics.html"
                                                title="War &amp; Politics">War &amp; Politics</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/western.html"
                                                title="Western">Western</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_country"
                 aria-expanded="false" aria-controls="sidebar_subs_country">
                <a class="nav-link" href="javascript:void(0)">Country</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_country">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AR.html"
                                                title="Argentina">Argentina</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AU.html"
                                                title="Australia">Australia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AT.html"
                                                title="Austria">Austria</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BE.html"
                                                title="Belgium">Belgium</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BR.html"
                                                title="Brazil">Brazil</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CA.html"
                                                title="Canada">Canada</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CN.html"
                                                title="China">China</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CZ.html"
                                                title="Czech Republic">Czech Republic</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DK.html"
                                                title="Denmark">Denmark</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FI.html"
                                                title="Finland">Finland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FR.html"
                                                title="France">France</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DE.html"
                                                title="Germany">Germany</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HK.html"
                                                title="Hong Kong">Hong Kong</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HU.html"
                                                title="Hungary">Hungary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IN.html"
                                                title="India">India</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IE.html"
                                                title="Ireland">Ireland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IL.html"
                                                title="Israel">Israel</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IT.html"
                                                title="Italy">Italy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/JP.html"
                                                title="Japan">Japan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/LU.html"
                                                title="Luxembourg">Luxembourg</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/MX.html"
                                                title="Mexico">Mexico</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NL.html"
                                                title="Netherlands">Netherlands</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NZ.html"
                                                title="New Zealand">New Zealand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NO.html"
                                                title="Norway">Norway</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/PL.html"
                                                title="Poland">Poland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RO.html"
                                                title="Romania">Romania</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RU.html"
                                                title="Russia">Russia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ZA.html"
                                                title="South Africa">South Africa</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/KR.html"
                                                title="South Korea">South Korea</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ES.html"
                                                title="Spain">Spain</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/SE.html"
                                                title="Sweden">Sweden</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CH.html"
                                                title="Switzerland">Switzerland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TW.html"
                                                title="Taiwan">Taiwan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TH.html"
                                                title="Thailand">Thailand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/GB.html"
                                                title="United Kingdom">United Kingdom</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/US.html"
                                                title="United States of America">United States of America</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sb_footer">
        <div class="sb_f-menu">
            <a href="../terms.html" title="Terms of service">Terms of service</a><span class="space">-</span>
            <a href="../contact.html" title="Contact">Contact</a><span class="space">-</span>
            <a href="../sitemap.xml" title="Sitemap">Sitemap</a>
            
            
            <div class="sb_f-copyright">© 2020 Solarmovies</div>
        </div>
    </div>
</div>

    <div id="wrapper">
        <div id="header">
    <div class="container">
        <div id="mobile_menu"><i class="fas fa-bars"></i></div>
        <a href="../index.html" id="logo" title="Solarmovies"><img
                    src="https://img.solarmovies.win/xxrz/400x400/100/dd/b2/ddb2bac796109ce3c61b955f4854ef9d/ddb2bac796109ce3c61b955f4854ef9d.png"
                    title="Solarmovies" alt="Solarmovies">
            
        </a>
        <div id="search">
            <div class="search-content">
                <form @submit="search">
                    <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                           name="keyword" placeholder="Enter keywords...">
<!--                    <a data-toggle="modal" data-target="#modalfilter" class="btn btn-sm search-filter"><i class="fas fa-sliders-h"></i></a>-->
                    <button class="btn btn-sm search-submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav search-result-pop search-suggest"></div>
            </div>
        </div>
        <div id="header_right">
            <div id="user-slot"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

        <!--Begin: Main-->
        <div id="main-wrapper" class="main-wrapper-detail">
            <!--Begin: Detail-->
            <div class="detail_page detail_page-style">
                <div class="container">
                    <div class="prebreadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item">
                                    
                                    <a href="../movie.html" title="Movie">Movies</a>
                                    
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Phenomenon</li>
                            </ol>
                        </nav>
                    </div>
                    <!--Begin: Watch-->
                    <div class="detail_page-watch" data-id="13021" data-type="1">
                        <div class="dp-w-cover"
                             style="background-image: url(https://img.solarmovies.win/xxrz/1200x600/373/c5/4a/c54a426c610c7545d2f83dd5a4b2b4c7/c54a426c610c7545d2f83dd5a4b2b4c7.jpg);">
                            
                                
                                    <a href="../watch-movie/watch-phenomenon-online-13021.html"
                                       class="dp-w-c-play"><i class="fas fa-play"></i></a>
                                
                            
                        </div>
                        <div class="detail_page-infor border-bottom-block">
                            <div class="dp-i-content">
                                <div class="dp-i-c-poster">
                                    <div class="film-poster mb-2">
                                        <img class="film-poster-img"
                                             src="https://img.solarmovies.win/xxrz/250x400/373/87/38/8738b0d2611223b6b7af9c6b07694713/8738b0d2611223b6b7af9c6b07694713.jpg"
                                             title="Phenomenon"
                                             alt="Phenomenon">
                                    </div>
                                    <div class="block-rating" id="block-rating"></div>
                                </div>
                                <div class="dp-i-c-right">
                                    <div class="dp-i-c-stick mb-0">
                                        
                                            
                                                <a href="../watch-movie/watch-phenomenon-online-13021.html"
                                                   title="Watch now"
                                                   class="btn btn-radius btn-focus float-right"><i
                                                            class="fas fa-play mr-2"></i>Watch now
                                                </a>
                                            
                                        
                                        <div style="width: 100%; display: contents;" id="favorite-state"
                                             class="float-right"></div>
                                        
                                    </div>
                                    <h2 class="heading-name"><a
            href="phenomenon-13021.html">Phenomenon</a></h2>
<div class="dp-i-stats">
    <span class="item mr-1"><button data-toggle="modal" data-target="#modaltrailer" class="btn btn-sm btn-trailer"><i
                    class="fas fa-video mr-2"></i>Trailer</button></span>
    <span class="item mr-1"><button
                class="btn btn-sm btn-quality"><strong>HD</strong></button></span>
    <span class="item mr-2"><button
                class="btn btn-sm btn-warning">IMDB: 6.4</button></span>
</div>
<div class="description">
    An ordinary man sees a bright light descend from the sky, and discovers he now has super-intelligence and telekinesis.
</div>
<div class="elements">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Released: </strong></span> 1996-07-05
            </div>
            <div class="row-line">
                <span class="type"><strong>Genre: </strong></span>
                
                    <a href="../genre/drama.html"
                       title="Drama">Drama</a>, 
                
                    <a href="../genre/fantasy.html"
                       title="Fantasy">Fantasy</a>, 
                
                    <a href="../genre/romance.html"
                       title="Romance">Romance</a>, 
                
                    <a href="../genre/science-fiction.html"
                       title="Science Fiction">Science Fiction</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Casts: </strong></span>
                
                    <a href="../cast/john-travolta.html"
                       title="John Travolta">John Travolta</a>, 
                
                    <a href="../cast/kyra-sedgwick.html"
                       title="Kyra Sedgwick">Kyra Sedgwick</a>, 
                
                    <a href="../cast/forest-whitaker.html"
                       title="Forest Whitaker">Forest Whitaker</a>, 
                
                    <a href="../cast/robert-duvall.html"
                       title="Robert Duvall">Robert Duvall</a>, 
                
                    <a href="../cast/jeffrey-demunn.html"
                       title="Jeffrey DeMunn">Jeffrey DeMunn</a>
                
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Duration: </strong></span> 123
                min
            </div>
            <div class="row-line">
                <span class="type"><strong>Country: </strong></span>
                
                    <a href="../country/us.html"
                       title="United States of America">United States of America</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Production: </strong></span>
                
                    <a href="../production/touchstone-pictures.html"
                       title="Touchstone Pictures">Touchstone Pictures</a>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-tags mb-3">
                        <h2 class="btn btn-sm btn-light btn-dtag">Watch Phenomenon Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Phenomenon Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Where to watch Phenomenon</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Phenomenon movie free online</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Phenomenon free online</h2>
                    </div>
                    <!--End: Watch-->
                    <div class="addthis_inline_share_toolbox" data-url="https://solarmovies.win/movie/watch-phenomenon-online-13021"
                         style="margin-top: 20px; margin-bottom: 20px; text-align: center;"></div>
                    
                        <div id="content-episodes"></div>
                    
                </div>
            </div>
            <!--End: Detail-->
            <!--Begin: Related-->
            <div class="film_related file_realted-list">
                <div class="container">
                    <!--Begin: Section film list-->
                    <section class="block_area block_area_category">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">You may also like</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content block_area-list film_list film_list-grid">
                            <div class="film_list-wrap">
                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/65/55/6555d7f535d56f46353f30e141f0b0be/6555d7f535d56f46353f30e141f0b0be.jpg" class="film-poster-img lazyload"
             title="The Phenomenon" alt="The Phenomenon">
        <a href="the-phenomenon-66483.html" class="film-poster-ahref flw-item-tip"
           title="The Phenomenon" rel=&#34;nofollow&#34;><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-phenomenon-66483.html" rel=&#34;nofollow&#34;
                        title="The Phenomenon">The Phenomenon</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>100m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/48/01/4801736f7d22fdbc4dfe9d0008664760/4801736f7d22fdbc4dfe9d0008664760.jpg" class="film-poster-img lazyload"
             title="Money Heist: The Phenomenon" alt="Money Heist: The Phenomenon">
        <a href="money-heist-the-phenomenon-68486.html" class="film-poster-ahref flw-item-tip"
           title="Money Heist: The Phenomenon" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="money-heist-the-phenomenon-68486.html" 
                        title="Money Heist: The Phenomenon">Money Heist: The Phenomenon</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>57m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/32/a8/32a886bddec34abb58993e0c1a10efb2/32a886bddec34abb58993e0c1a10efb2.jpg" class="film-poster-img lazyload"
             title="A Holiday Spectacular" alt="A Holiday Spectacular">
        <a href="a-holiday-spectacular-90790.html" class="film-poster-ahref flw-item-tip"
           title="A Holiday Spectacular" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="a-holiday-spectacular-90790.html" 
                        title="A Holiday Spectacular">A Holiday Spectacular</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>84m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/49/d9/49d9b4580e5dfbb78577a71e79df1118/49d9b4580e5dfbb78577a71e79df1118.jpg" class="film-poster-img lazyload"
             title="Menorah in the Middle" alt="Menorah in the Middle">
        <a href="menorah-in-the-middle-90007.html" class="film-poster-ahref flw-item-tip"
           title="Menorah in the Middle" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="menorah-in-the-middle-90007.html" 
                        title="Menorah in the Middle">Menorah in the Middle</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>90m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/37/fb/37fb34f506e29b74b9decdd3c220a75e/37fb34f506e29b74b9decdd3c220a75e.jpg" class="film-poster-img lazyload"
             title="Three Thousand Years of Longing" alt="Three Thousand Years of Longing">
        <a href="three-thousand-years-of-longing-81580.html" class="film-poster-ahref flw-item-tip"
           title="Three Thousand Years of Longing" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="three-thousand-years-of-longing-81580.html" 
                        title="Three Thousand Years of Longing">Three Thousand Years of Longing</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>108m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/ff/22/ff22f9762b19a837a58d0f855bae9647/ff22f9762b19a837a58d0f855bae9647.jpg" class="film-poster-img lazyload"
             title="Rip in Time" alt="Rip in Time">
        <a href="rip-in-time-80965.html" class="film-poster-ahref flw-item-tip"
           title="Rip in Time" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="rip-in-time-80965.html" 
                        title="Rip in Time">Rip in Time</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>84m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/86/7c/867c823e84221c84fc7560f0e9b777a7/867c823e84221c84fc7560f0e9b777a7.jpg" class="film-poster-img lazyload"
             title="Until We Meet Again" alt="Until We Meet Again">
        <a href="until-we-meet-again-77338.html" class="film-poster-ahref flw-item-tip"
           title="Until We Meet Again" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="until-we-meet-again-77338.html" 
                        title="Until We Meet Again">Until We Meet Again</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>91m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/23/bc/23bcc4964abb7173904672ef69fc8359/23bcc4964abb7173904672ef69fc8359.jpg" class="film-poster-img lazyload"
             title="The King&#39;s Daughter" alt="The King&#39;s Daughter">
        <a href="the-kings-daughter-76420.html" class="film-poster-ahref flw-item-tip"
           title="The King&#39;s Daughter" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-kings-daughter-76420.html" 
                        title="The King&#39;s Daughter">The King&#39;s Daughter</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>94m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/01/2e/012ec6fd3d26f37934856d3ffcdc6c8d/012ec6fd3d26f37934856d3ffcdc6c8d.jpg" class="film-poster-img lazyload"
             title="Lulli" alt="Lulli">
        <a href="lulli-75832.html" class="film-poster-ahref flw-item-tip"
           title="Lulli" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="lulli-75832.html" 
                        title="Lulli">Lulli</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>90m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/b1/0f/b10f013ce935daea0d10cc62ae0f5edd/b10f013ce935daea0d10cc62ae0f5edd.jpg" class="film-poster-img lazyload"
             title="Wanton Want" alt="Wanton Want">
        <a href="wanton-want-72568.html" class="film-poster-ahref flw-item-tip"
           title="Wanton Want" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="wanton-want-72568.html" 
                        title="Wanton Want">Wanton Want</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>93m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/c2/a0/c2a0379aa99824ebbba0cf51e2a99af4/c2a0379aa99824ebbba0cf51e2a99af4.jpg" class="film-poster-img lazyload"
             title="Cinderella" alt="Cinderella">
        <a href="cinderella-66699.html" class="film-poster-ahref flw-item-tip"
           title="Cinderella" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="cinderella-66699.html" 
                        title="Cinderella">Cinderella</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>113m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/06/17/0617352c75e33fcfc637aae4fdf10f45/0617352c75e33fcfc637aae4fdf10f45.jpg" class="film-poster-img lazyload"
             title="A Chance for Christmas" alt="A Chance for Christmas">
        <a href="a-chance-for-christmas-75796.html" class="film-poster-ahref flw-item-tip"
           title="A Chance for Christmas" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="a-chance-for-christmas-75796.html" 
                        title="A Chance for Christmas">A Chance for Christmas</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>86m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f4/8a/f48a2b9e2c7d6fcaf212539726170453/f48a2b9e2c7d6fcaf212539726170453.jpg" class="film-poster-img lazyload"
             title="Wicked" alt="Wicked">
        <a href="wicked-70012.html" class="film-poster-ahref flw-item-tip"
           title="Wicked" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="wicked-70012.html" 
                        title="Wicked">Wicked</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>85m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/13/df/13df010e67c71abf82071394a628bfb0/13df010e67c71abf82071394a628bfb0.jpg" class="film-poster-img lazyload"
             title="My Blood &amp; Bones in a Flowing Galaxy" alt="My Blood &amp; Bones in a Flowing Galaxy">
        <a href="my-blood-bones-in-a-flowing-galaxy-85794.html" class="film-poster-ahref flw-item-tip"
           title="My Blood &amp; Bones in a Flowing Galaxy" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="my-blood-bones-in-a-flowing-galaxy-85794.html" 
                        title="My Blood &amp; Bones in a Flowing Galaxy">My Blood &amp; Bones in a Flowing Galaxy</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>127m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/76/c3/76c30bdd2a29fa2c790e1440150a5d18/76c30bdd2a29fa2c790e1440150a5d18.jpg" class="film-poster-img lazyload"
             title="The Yin Yang Master" alt="The Yin Yang Master">
        <a href="the-yin-yang-master-68722.html" class="film-poster-ahref flw-item-tip"
           title="The Yin Yang Master" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="the-yin-yang-master-68722.html" 
                        title="The Yin Yang Master">The Yin Yang Master</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>113m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/42/5a/425ab47cc288efd23cda19b40b91235d/425ab47cc288efd23cda19b40b91235d.jpg" class="film-poster-img lazyload"
             title="Long Story Short" alt="Long Story Short">
        <a href="long-story-short-67791.html" class="film-poster-ahref flw-item-tip"
           title="Long Story Short" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="long-story-short-67791.html" 
                        title="Long Story Short">Long Story Short</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>90m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                    <!--End: Section film list-->
                </div>
            </div>
            <!--End: Related-->
        </div>
        <!--End: Main-->
    </div>
    <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
<h1 style="display: none;">Watch Phenomenon Solarmovies - Free HD Quality</h1>

    <!--Begin: Modal-->
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="modallogintitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <!--Begin: tab login-->
                <div id="modal-tab-login" class="tab-pane active auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="login" method="post">
                            <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                            <div class="form-group">
                                <label class="prelabel" for="email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-check custom-control custom-checkbox">
                                <div class="float-left">
                                    <input name="remember" v-model="remember" type="checkbox"
                                           class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <div class="float-right">
                                    <a @click="show_forgot" href="javascript:void(0)"
                                       class="link-highlight text-forgot">Forgot password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="loading-relative" id="login-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Don't have an account? <a @click="show_register" href="javascript:void(0)"
                                                  class="link-highlight"
                                                  title="Register">Register</a>
                    </div>
                </div>
                <!--End: tab login-->
                <!--Begin: tab forgot-->
                <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="forgot_password" method="post">
                            <div class="form-group">
                                <label class="prelabel" for="forgot-email">Your Email</label>
                                <input v-model="email" type="email" class="form-control" id="forgot-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a @click="show_login" class="link-highlight" title="Sign-in"><i
                                    class="fa fa-angle-left mr-2"></i>Back
                            to Login</a>
                    </div>
                </div>
                <!--End: tab forgot-->
                <!--Begin: tab register-->
                <div id="modal-tab-register" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="register" method="post">
                            <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-username">Your name</label>
                                <input v-model="name" type="text" class="form-control" id="re-username"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="re-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="re-password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel"
                                       for="re-confirmpassword">Confirm Password</label>
                                <input v-model="confirm_password" type="password" class="form-control"
                                       id="re-confirmpassword"
                                       placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Register</button>
                                <div class="loading-relative" id="register-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Have an account? <a @click="show_login" class="link-highlight"
                                            title="Login">Login</a>
                    </div>
                </div>
                <!--End: tab register-->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade premodal premodal-trailer" id="modaltrailer" tabindex="-1" role="dialog"
         aria-labelledby="modaltrailertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="iframe16x9">
                        <iframe width="560" height="315"
                                id="iframe-trailer" data-src="https://www.youtube.com/embed/apduYg2VqTI"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Modal-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da59293a14f83e9" async></script>

    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=77196c29-9d2b-4414-bc79-7543a13d07e3" async></script>
    <!-- End of  Zendesk Widget script -->

<script type="text/javascript" src="../js/sly.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/psbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
<script>var currPage = 'detail';</script>
<script type="text/javascript"
        src="../js/group_2/app.min.js@v=6.3"></script>



<script>
    $(document).ready(function () {
        check_favorite();
        // get_episodes();
        vote_info();

        if (movie.type == 2) {
            $.get("/ajax/v2/tv/seasons/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        } else {
            $.get("/ajax/movie/episodes/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        }
    });
</script>
</body>
</html>
