

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Watch This Teacher Solarmovies - Free HD Quality</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

<meta http-equiv="content-language" content="en"/>
<link rel="dns-prefetch" href="https://www.google-analytics.com/">
<link rel="dns-prefetch" href="https://www.gstatic.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="https://static.zdassets.com/">
<link rel="dns-prefetch" href="https://s7.addthis.com/">
<link rel="dns-prefetch" href="https://connect.facebook.net/">
<link rel="dns-prefetch" href="https://graph.facebook.com/">
<meta name="description" content="Watch This Teacher Online Free, free download This Teacher full HD with English subtitle on Solarmovies"/>
<meta name="keywords" content="This Teacher Solarmovies, This Teacher Solarmovies, watch This Teacher free, download This Teacher free, full This Teacher online, This Teacher full HD"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="https://img.solarmovies.win/xxrz/100x100/100/1e/d6/1ed66c3fd5d717d949289994f35d94c3/1ed66c3fd5d717d949289994f35d94c3.png"
      type="image/x-icon"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://solarmovies.win/movie/watch-this-teacher-online-70374"/>
<meta property="og:title"
      content="Watch This Teacher Solarmovies - Free HD Quality"/>
<meta property="og:image" content="https://img.solarmovies.win/xxrz/1200x600/373/bf/36/bf368a013d412012dd1283c5820489f6/bf368a013d412012dd1283c5820489f6.jpg"/>
<meta property="og:image:width" content="650">
<meta property="og:image:height" content="350">
<meta property="og:description" content="Watch This Teacher Online Free, free download This Teacher full HD with English subtitle on Solarmovies"/>
<!--Begin: Stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
      href="../css/group_2/theme_1/style.min.css@v=8.4.css">
<!--End: Stylesheet-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=UA-206276194-1""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206276194-1');
</script>



</head>
<body>
<div id="app">
    
<div id="sidebar_menu_bg"></div>
<div id="sidebar_menu" class="active">
    <a id="sidebar_close" class="btn btn-sm btn-radius"><i class="fas fa-chevron-left"></i>Close sidebar</a>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item"><a class="nav-link with-icon" href="../index.html" title="Home"><i
                        class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../top-imdb.html" title="Top IMDB"><i
                        class="fas fa-rocket"></i>Top
                IMDB</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../movie.html" title="Movies"><i
                        class="fas fa-film"></i>Movies</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../tv-show.html" title="TV Shows"><i
                        class="fas fa-tv"></i>TV Shows</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../android-movies-apk.html" title="Android App"><i
                        class="fab fa-android"></i>Android App</a></li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_genre"
                 aria-expanded="false" aria-controls="sidebar_subs_genre">
                <a class="nav-link" href="javascript:void(0)">Genre</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_genre">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action.html"
                                                title="Action">Action</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action-adventure.html"
                                                title="Action &amp; Adventure">Action &amp; Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/adventure.html"
                                                title="Adventure">Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/animation.html"
                                                title="Animation">Animation</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/biography.html"
                                                title="Biography">Biography</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/comedy.html"
                                                title="Comedy">Comedy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/crime.html"
                                                title="Crime">Crime</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/documentary.html"
                                                title="Documentary">Documentary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/drama.html"
                                                title="Drama">Drama</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/family.html"
                                                title="Family">Family</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/fantasy.html"
                                                title="Fantasy">Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/history.html"
                                                title="History">History</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/horror.html"
                                                title="Horror">Horror</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/kids.html"
                                                title="Kids">Kids</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/music.html"
                                                title="Music">Music</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/mystery.html"
                                                title="Mystery">Mystery</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/news.html"
                                                title="News">News</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/reality.html"
                                                title="Reality">Reality</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/romance.html"
                                                title="Romance">Romance</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/sci-fi-fantasy.html"
                                                title="Sci-Fi &amp; Fantasy">Sci-Fi &amp; Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/science-fiction.html"
                                                title="Science Fiction">Science Fiction</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/soap.html"
                                                title="Soap">Soap</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/talk.html"
                                                title="Talk">Talk</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/thriller.html"
                                                title="Thriller">Thriller</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/tv-movie.html"
                                                title="TV Movie">TV Movie</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war.html"
                                                title="War">War</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war-politics.html"
                                                title="War &amp; Politics">War &amp; Politics</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/western.html"
                                                title="Western">Western</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_country"
                 aria-expanded="false" aria-controls="sidebar_subs_country">
                <a class="nav-link" href="javascript:void(0)">Country</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_country">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AR.html"
                                                title="Argentina">Argentina</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AU.html"
                                                title="Australia">Australia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AT.html"
                                                title="Austria">Austria</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BE.html"
                                                title="Belgium">Belgium</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BR.html"
                                                title="Brazil">Brazil</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CA.html"
                                                title="Canada">Canada</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CN.html"
                                                title="China">China</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CZ.html"
                                                title="Czech Republic">Czech Republic</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DK.html"
                                                title="Denmark">Denmark</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FI.html"
                                                title="Finland">Finland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FR.html"
                                                title="France">France</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DE.html"
                                                title="Germany">Germany</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HK.html"
                                                title="Hong Kong">Hong Kong</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HU.html"
                                                title="Hungary">Hungary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IN.html"
                                                title="India">India</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IE.html"
                                                title="Ireland">Ireland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IL.html"
                                                title="Israel">Israel</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IT.html"
                                                title="Italy">Italy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/JP.html"
                                                title="Japan">Japan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/LU.html"
                                                title="Luxembourg">Luxembourg</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/MX.html"
                                                title="Mexico">Mexico</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NL.html"
                                                title="Netherlands">Netherlands</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NZ.html"
                                                title="New Zealand">New Zealand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NO.html"
                                                title="Norway">Norway</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/PL.html"
                                                title="Poland">Poland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RO.html"
                                                title="Romania">Romania</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RU.html"
                                                title="Russia">Russia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ZA.html"
                                                title="South Africa">South Africa</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/KR.html"
                                                title="South Korea">South Korea</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ES.html"
                                                title="Spain">Spain</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/SE.html"
                                                title="Sweden">Sweden</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CH.html"
                                                title="Switzerland">Switzerland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TW.html"
                                                title="Taiwan">Taiwan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TH.html"
                                                title="Thailand">Thailand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/GB.html"
                                                title="United Kingdom">United Kingdom</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/US.html"
                                                title="United States of America">United States of America</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sb_footer">
        <div class="sb_f-menu">
            <a href="../terms.html" title="Terms of service">Terms of service</a><span class="space">-</span>
            <a href="../contact.html" title="Contact">Contact</a><span class="space">-</span>
            <a href="../sitemap.xml" title="Sitemap">Sitemap</a>
            
            
            <div class="sb_f-copyright">© 2020 Solarmovies</div>
        </div>
    </div>
</div>

    <div id="wrapper">
        <div id="header">
    <div class="container">
        <div id="mobile_menu"><i class="fas fa-bars"></i></div>
        <a href="../index.html" id="logo" title="Solarmovies"><img
                    src="https://img.solarmovies.win/xxrz/400x400/100/dd/b2/ddb2bac796109ce3c61b955f4854ef9d/ddb2bac796109ce3c61b955f4854ef9d.png"
                    title="Solarmovies" alt="Solarmovies">
            
        </a>
        <div id="search">
            <div class="search-content">
                <form @submit="search">
                    <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                           name="keyword" placeholder="Enter keywords...">
<!--                    <a data-toggle="modal" data-target="#modalfilter" class="btn btn-sm search-filter"><i class="fas fa-sliders-h"></i></a>-->
                    <button class="btn btn-sm search-submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav search-result-pop search-suggest"></div>
            </div>
        </div>
        <div id="header_right">
            <div id="user-slot"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

        <!--Begin: Main-->
        <div id="main-wrapper" class="main-wrapper-detail">
            <!--Begin: Detail-->
            <div class="detail_page detail_page-style">
                <div class="container">
                    <div class="prebreadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item">
                                    
                                    <a href="../movie.html" title="Movie">Movies</a>
                                    
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">This Teacher</li>
                            </ol>
                        </nav>
                    </div>
                    <!--Begin: Watch-->
                    <div class="detail_page-watch" data-id="70374" data-type="1">
                        <div class="dp-w-cover"
                             style="background-image: url(https://img.solarmovies.win/xxrz/1200x600/373/bf/36/bf368a013d412012dd1283c5820489f6/bf368a013d412012dd1283c5820489f6.jpg);">
                            
                                
                                    <a href="../watch-movie/watch-this-teacher-online-70374.html"
                                       class="dp-w-c-play"><i class="fas fa-play"></i></a>
                                
                            
                        </div>
                        <div class="detail_page-infor border-bottom-block">
                            <div class="dp-i-content">
                                <div class="dp-i-c-poster">
                                    <div class="film-poster mb-2">
                                        <img class="film-poster-img"
                                             src="https://img.solarmovies.win/xxrz/250x400/373/cb/c5/cbc56113933a1259fe7d2c89184a6e2a/cbc56113933a1259fe7d2c89184a6e2a.jpg"
                                             title="This Teacher"
                                             alt="This Teacher">
                                    </div>
                                    <div class="block-rating" id="block-rating"></div>
                                </div>
                                <div class="dp-i-c-right">
                                    <div class="dp-i-c-stick mb-0">
                                        
                                            
                                                <a href="../watch-movie/watch-this-teacher-online-70374.html"
                                                   title="Watch now"
                                                   class="btn btn-radius btn-focus float-right"><i
                                                            class="fas fa-play mr-2"></i>Watch now
                                                </a>
                                            
                                        
                                        <div style="width: 100%; display: contents;" id="favorite-state"
                                             class="float-right"></div>
                                        
                                    </div>
                                    <h2 class="heading-name"><a
            href="this-teacher-70374.html">This Teacher</a></h2>
<div class="dp-i-stats">
    <span class="item mr-1"><button data-toggle="modal" data-target="#modaltrailer" class="btn btn-sm btn-trailer"><i
                    class="fas fa-video mr-2"></i>Trailer</button></span>
    <span class="item mr-1"><button
                class="btn btn-sm btn-quality"><strong>HD</strong></button></span>
    <span class="item mr-2"><button
                class="btn btn-sm btn-warning">IMDB: 6</button></span>
</div>
<div class="description">
    A reunion between two childhood friends goes awry in this disquieting portrait of a young Muslim woman visiting New York for the first time.
</div>
<div class="elements">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Released: </strong></span> 2018-10-20
            </div>
            <div class="row-line">
                <span class="type"><strong>Genre: </strong></span>
                
                    <a href="../genre/drama.html"
                       title="Drama">Drama</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Casts: </strong></span>
                
                    <a href="../cast/sarah-kazemy.html"
                       title="Sarah Kazemy">Sarah Kazemy</a>, 
                
                    <a href="../cast/rebekah-del-rio.html"
                       title="Rebekah Del Rio">Rebekah Del Rio</a>, 
                
                    <a href="../cast/lev-gorn.html"
                       title="Lev Gorn">Lev Gorn</a>, 
                
                    <a href="../cast/lucy-walters.html"
                       title="Lucy Walters">Lucy Walters</a>, 
                
                    <a href="../cast/lawrence-novak.html"
                       title="Lawrence Novak">Lawrence Novak</a>
                
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Duration: </strong></span> 92
                min
            </div>
            <div class="row-line">
                <span class="type"><strong>Country: </strong></span>
                
                    <a href="../country/us.html"
                       title="United States of America">United States of America</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Production: </strong></span>
                
                    N/A
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-tags mb-3">
                        <h2 class="btn btn-sm btn-light btn-dtag">Watch This Teacher Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">This Teacher Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Where to watch This Teacher</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">This Teacher movie free online</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">This Teacher free online</h2>
                    </div>
                    <!--End: Watch-->
                    <div class="addthis_inline_share_toolbox" data-url="https://solarmovies.win/movie/watch-this-teacher-online-70374"
                         style="margin-top: 20px; margin-bottom: 20px; text-align: center;"></div>
                    
                        <div id="content-episodes"></div>
                    
                </div>
            </div>
            <!--End: Detail-->
            <!--Begin: Related-->
            <div class="film_related file_realted-list">
                <div class="container">
                    <!--Begin: Section film list-->
                    <section class="block_area block_area_category">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">You may also like</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content block_area-list film_list film_list-grid">
                            <div class="film_list-wrap">
                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/7e/b0/7eb0e5cbbb8f94eace4f921c59806841/7eb0e5cbbb8f94eace4f921c59806841.jpg" class="film-poster-img lazyload"
             title="Keep This Between Us" alt="Keep This Between Us">
        <a href="../tv/keep-this-between-us-86916.html" class="film-poster-ahref flw-item-tip"
           title="Keep This Between Us" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/keep-this-between-us-86916.html" 
                        title="Keep This Between Us">Keep This Between Us</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 4</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/e8/59/e8594e108bddf491d9fa45d26714c1dc/e8594e108bddf491d9fa45d26714c1dc.jpg" class="film-poster-img lazyload"
             title="This Fool" alt="This Fool">
        <a href="../tv/this-fool-86019.html" class="film-poster-ahref flw-item-tip"
           title="This Fool" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/this-fool-86019.html" 
                        title="This Fool">This Fool</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 10</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/bc/1c/bc1ca065fb64b1a03e31f25f63a38398/bc1ca065fb64b1a03e31f25f63a38398.jpg" class="film-poster-img lazyload"
             title="WWE This Is Awesome" alt="WWE This Is Awesome">
        <a href="../tv/wwe-this-is-awesome-85308.html" class="film-poster-ahref flw-item-tip"
           title="WWE This Is Awesome" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/wwe-this-is-awesome-85308.html" 
                        title="WWE This Is Awesome">WWE This Is Awesome</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 6</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/49/1f/491fbc952112e9232cef67a19aefa5d8/491fbc952112e9232cef67a19aefa5d8.jpg" class="film-poster-img lazyload"
             title="This Much I Know to Be True" alt="This Much I Know to Be True">
        <a href="this-much-i-know-to-be-true-84247.html" class="film-poster-ahref flw-item-tip"
           title="This Much I Know to Be True" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="this-much-i-know-to-be-true-84247.html" 
                        title="This Much I Know to Be True">This Much I Know to Be True</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>105m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5d/61/5d61cc979ec1d87a425973ab8218a8d9/5d61cc979ec1d87a425973ab8218a8d9.jpg" class="film-poster-img lazyload"
             title="365 Days: This Day" alt="365 Days: This Day">
        <a href="365-days-this-day-79609.html" class="film-poster-ahref flw-item-tip"
           title="365 Days: This Day" rel=&#34;nofollow&#34;><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="365-days-this-day-79609.html" rel=&#34;nofollow&#34;
                        title="365 Days: This Day">365 Days: This Day</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>109m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/ee/81/ee81381bc2738e2f772b139909976460/ee81381bc2738e2f772b139909976460.jpg" class="film-poster-img lazyload"
             title="We Own This City" alt="We Own This City">
        <a href="../tv/we-own-this-city-79573.html" class="film-poster-ahref flw-item-tip"
           title="We Own This City" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/we-own-this-city-79573.html" 
                        title="We Own This City">We Own This City</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 6</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5b/0a/5b0a912adbc2f5bd8d1eb5b927212fd7/5b0a912adbc2f5bd8d1eb5b927212fd7.jpg" class="film-poster-img lazyload"
             title="We&#39;re All in This Together" alt="We&#39;re All in This Together">
        <a href="were-all-in-this-together-90043.html" class="film-poster-ahref flw-item-tip"
           title="We&#39;re All in This Together" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="were-all-in-this-together-90043.html" 
                        title="We&#39;re All in This Together">We&#39;re All in This Together</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>86m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/a7/a3/a7a3b543bcbf7361ab82649740829d60/a7a3b543bcbf7361ab82649740829d60.jpg" class="film-poster-img lazyload"
             title="Have You Seen This Man?" alt="Have You Seen This Man?">
        <a href="../tv/have-you-seen-this-man-79162.html" class="film-poster-ahref flw-item-tip"
           title="Have You Seen This Man?" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/have-you-seen-this-man-79162.html" 
                        title="Have You Seen This Man?">Have You Seen This Man?</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 3</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/a0/88/a0886f7995c0edf3955f0fc1b26a9965/a0886f7995c0edf3955f0fc1b26a9965.jpg" class="film-poster-img lazyload"
             title="More Than This" alt="More Than This">
        <a href="../tv/more-than-this-77923.html" class="film-poster-ahref flw-item-tip"
           title="More Than This" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/more-than-this-77923.html" 
                        title="More Than This">More Than This</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 6</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/60/77/60773b508f437b3b3b6b2ad56405acec/60773b508f437b3b3b6b2ad56405acec.jpg" class="film-poster-img lazyload"
             title="This Is Going to Hurt" alt="This Is Going to Hurt">
        <a href="../tv/this-is-going-to-hurt-77095.html" class="film-poster-ahref flw-item-tip"
           title="This Is Going to Hurt" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/this-is-going-to-hurt-77095.html" 
                        title="This Is Going to Hurt">This Is Going to Hurt</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 7</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5d/b8/5db822f061e2f2fec3d2d78dedd27582/5db822f061e2f2fec3d2d78dedd27582.jpg" class="film-poster-img lazyload"
             title="The Teacher" alt="The Teacher">
        <a href="../tv/the-teacher-76819.html" class="film-poster-ahref flw-item-tip"
           title="The Teacher" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/the-teacher-76819.html" 
                        title="The Teacher">The Teacher</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 4</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/92/b9/92b90de89e6e98fd1bf79434082c03b1/92b90de89e6e98fd1bf79434082c03b1.jpg" class="film-poster-img lazyload"
             title="This Is Joan Collins" alt="This Is Joan Collins">
        <a href="this-is-joan-collins-78640.html" class="film-poster-ahref flw-item-tip"
           title="This Is Joan Collins" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="this-is-joan-collins-78640.html" 
                        title="This Is Joan Collins">This Is Joan Collins</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>96m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/a1/4b/a14b706d7cfea12f27f856a197424b66/a14b706d7cfea12f27f856a197424b66.jpg" class="film-poster-img lazyload"
             title="Psych 3: This Is Gus" alt="Psych 3: This Is Gus">
        <a href="psych-3-this-is-gus-74503.html" class="film-poster-ahref flw-item-tip"
           title="Psych 3: This Is Gus" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="psych-3-this-is-gus-74503.html" 
                        title="Psych 3: This Is Gus">Psych 3: This Is Gus</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>96m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/e1/59/e1598e640ddeb223c610137851716f5a/e1598e640ddeb223c610137851716f5a.jpg" class="film-poster-img lazyload"
             title="This Is the Year" alt="This Is the Year">
        <a href="this-is-the-year-72445.html" class="film-poster-ahref flw-item-tip"
           title="This Is the Year" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="this-is-the-year-72445.html" 
                        title="This Is the Year">This Is the Year</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>97m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/5c/68/5c689130cf5d1abf324fb28dce02429f/5c689130cf5d1abf324fb28dce02429f.jpg" class="film-poster-img lazyload"
             title="This is GWAR" alt="This is GWAR">
        <a href="this-is-gwar-84867.html" class="film-poster-ahref flw-item-tip"
           title="This is GWAR" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="this-is-gwar-84867.html" 
                        title="This is GWAR">This is GWAR</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>110m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/db/33/db3381e08e90d9f8012e086a1067320f/db3381e08e90d9f8012e086a1067320f.jpg" class="film-poster-img lazyload"
             title="This is the Night" alt="This is the Night">
        <a href="once-upon-a-time-in-staten-island-41535.html" class="film-poster-ahref flw-item-tip"
           title="This is the Night" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="once-upon-a-time-in-staten-island-41535.html" 
                        title="This is the Night">This is the Night</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2021</span>
                    <i class="dot"></i>
                    <span>100m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                    <!--End: Section film list-->
                </div>
            </div>
            <!--End: Related-->
        </div>
        <!--End: Main-->
    </div>
    <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
<h1 style="display: none;">Watch This Teacher Solarmovies - Free HD Quality</h1>

    <!--Begin: Modal-->
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="modallogintitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <!--Begin: tab login-->
                <div id="modal-tab-login" class="tab-pane active auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="login" method="post">
                            <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                            <div class="form-group">
                                <label class="prelabel" for="email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-check custom-control custom-checkbox">
                                <div class="float-left">
                                    <input name="remember" v-model="remember" type="checkbox"
                                           class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <div class="float-right">
                                    <a @click="show_forgot" href="javascript:void(0)"
                                       class="link-highlight text-forgot">Forgot password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="loading-relative" id="login-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Don't have an account? <a @click="show_register" href="javascript:void(0)"
                                                  class="link-highlight"
                                                  title="Register">Register</a>
                    </div>
                </div>
                <!--End: tab login-->
                <!--Begin: tab forgot-->
                <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="forgot_password" method="post">
                            <div class="form-group">
                                <label class="prelabel" for="forgot-email">Your Email</label>
                                <input v-model="email" type="email" class="form-control" id="forgot-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a @click="show_login" class="link-highlight" title="Sign-in"><i
                                    class="fa fa-angle-left mr-2"></i>Back
                            to Login</a>
                    </div>
                </div>
                <!--End: tab forgot-->
                <!--Begin: tab register-->
                <div id="modal-tab-register" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="register" method="post">
                            <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-username">Your name</label>
                                <input v-model="name" type="text" class="form-control" id="re-username"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="re-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="re-password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel"
                                       for="re-confirmpassword">Confirm Password</label>
                                <input v-model="confirm_password" type="password" class="form-control"
                                       id="re-confirmpassword"
                                       placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Register</button>
                                <div class="loading-relative" id="register-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Have an account? <a @click="show_login" class="link-highlight"
                                            title="Login">Login</a>
                    </div>
                </div>
                <!--End: tab register-->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade premodal premodal-trailer" id="modaltrailer" tabindex="-1" role="dialog"
         aria-labelledby="modaltrailertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="iframe16x9">
                        <iframe width="560" height="315"
                                id="iframe-trailer" data-src="https://www.youtube.com/embed/"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Modal-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da59293a14f83e9" async></script>

    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=77196c29-9d2b-4414-bc79-7543a13d07e3" async></script>
    <!-- End of  Zendesk Widget script -->

<script type="text/javascript" src="../js/sly.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/psbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
<script>var currPage = 'detail';</script>
<script type="text/javascript"
        src="../js/group_2/app.min.js@v=6.3"></script>



<script>
    $(document).ready(function () {
        check_favorite();
        // get_episodes();
        vote_info();

        if (movie.type == 2) {
            $.get("/ajax/v2/tv/seasons/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        } else {
            $.get("/ajax/movie/episodes/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        }
    });
</script>
</body>
</html>
