

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Watch May 18 Solarmovies - Free HD Quality</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

<meta http-equiv="content-language" content="en"/>
<link rel="dns-prefetch" href="https://www.google-analytics.com/">
<link rel="dns-prefetch" href="https://www.gstatic.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="https://static.zdassets.com/">
<link rel="dns-prefetch" href="https://s7.addthis.com/">
<link rel="dns-prefetch" href="https://connect.facebook.net/">
<link rel="dns-prefetch" href="https://graph.facebook.com/">
<meta name="description" content="Watch May 18 Online Free, free download May 18 full HD with English subtitle on Solarmovies"/>
<meta name="keywords" content="May 18 Solarmovies, May 18 Solarmovies, watch May 18 free, download May 18 free, full May 18 online, May 18 full HD"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="https://img.solarmovies.win/xxrz/100x100/100/1e/d6/1ed66c3fd5d717d949289994f35d94c3/1ed66c3fd5d717d949289994f35d94c3.png"
      type="image/x-icon"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://solarmovies.win/movie/watch-may-18-online-64169"/>
<meta property="og:title"
      content="Watch May 18 Solarmovies - Free HD Quality"/>
<meta property="og:image" content="https://img.solarmovies.win/xxrz/1200x600/373/e2/a6/e2a65cb1073a197e5fdccd4ed7d73739/e2a65cb1073a197e5fdccd4ed7d73739.jpg"/>
<meta property="og:image:width" content="650">
<meta property="og:image:height" content="350">
<meta property="og:description" content="Watch May 18 Online Free, free download May 18 full HD with English subtitle on Solarmovies"/>
<!--Begin: Stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet"
      href="../css/group_2/theme_1/style.min.css@v=8.4.css">
<!--End: Stylesheet-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>var recaptcha_site_key = '6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE';</script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld3XXobAAAAAP52fRv79Jn6OjLsJUfQE48H9HOE"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""https://www.googletagmanager.com/gtag/js?id=UA-206276194-1""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206276194-1');
</script>



</head>
<body>
<div id="app">
    
<div id="sidebar_menu_bg"></div>
<div id="sidebar_menu" class="active">
    <a id="sidebar_close" class="btn btn-sm btn-radius"><i class="fas fa-chevron-left"></i>Close sidebar</a>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item"><a class="nav-link with-icon" href="../index.html" title="Home"><i
                        class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../top-imdb.html" title="Top IMDB"><i
                        class="fas fa-rocket"></i>Top
                IMDB</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../movie.html" title="Movies"><i
                        class="fas fa-film"></i>Movies</a>
        </li>
        <li class="nav-item"><a class="nav-link with-icon" href="../tv-show.html" title="TV Shows"><i
                        class="fas fa-tv"></i>TV Shows</a></li>
        <li class="nav-item"><a class="nav-link with-icon" href="../android-movies-apk.html" title="Android App"><i
                        class="fab fa-android"></i>Android App</a></li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_genre"
                 aria-expanded="false" aria-controls="sidebar_subs_genre">
                <a class="nav-link" href="javascript:void(0)">Genre</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_genre">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action.html"
                                                title="Action">Action</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/action-adventure.html"
                                                title="Action &amp; Adventure">Action &amp; Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/adventure.html"
                                                title="Adventure">Adventure</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/animation.html"
                                                title="Animation">Animation</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/biography.html"
                                                title="Biography">Biography</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/comedy.html"
                                                title="Comedy">Comedy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/crime.html"
                                                title="Crime">Crime</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/documentary.html"
                                                title="Documentary">Documentary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/drama.html"
                                                title="Drama">Drama</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/family.html"
                                                title="Family">Family</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/fantasy.html"
                                                title="Fantasy">Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/history.html"
                                                title="History">History</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/horror.html"
                                                title="Horror">Horror</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/kids.html"
                                                title="Kids">Kids</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/music.html"
                                                title="Music">Music</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/mystery.html"
                                                title="Mystery">Mystery</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/news.html"
                                                title="News">News</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/reality.html"
                                                title="Reality">Reality</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/romance.html"
                                                title="Romance">Romance</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/sci-fi-fantasy.html"
                                                title="Sci-Fi &amp; Fantasy">Sci-Fi &amp; Fantasy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/science-fiction.html"
                                                title="Science Fiction">Science Fiction</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/soap.html"
                                                title="Soap">Soap</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/talk.html"
                                                title="Talk">Talk</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/thriller.html"
                                                title="Thriller">Thriller</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/tv-movie.html"
                                                title="TV Movie">TV Movie</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war.html"
                                                title="War">War</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/war-politics.html"
                                                title="War &amp; Politics">War &amp; Politics</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../genre/western.html"
                                                title="Western">Western</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <ul class="nav sidebar_menu-list">
        <li class="nav-item">
            <div class="nav-toggle collapsed" data-toggle="collapse" data-target="#sidebar_subs_country"
                 aria-expanded="false" aria-controls="sidebar_subs_country">
                <a class="nav-link" href="javascript:void(0)">Country</a>
                <div class="toggle-icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="multi-collapse sidebar_menu-sub collapse" id="sidebar_subs_country">
                <ul class="nav sub-menu">
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AR.html"
                                                title="Argentina">Argentina</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AU.html"
                                                title="Australia">Australia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/AT.html"
                                                title="Austria">Austria</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BE.html"
                                                title="Belgium">Belgium</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/BR.html"
                                                title="Brazil">Brazil</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CA.html"
                                                title="Canada">Canada</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CN.html"
                                                title="China">China</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CZ.html"
                                                title="Czech Republic">Czech Republic</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DK.html"
                                                title="Denmark">Denmark</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FI.html"
                                                title="Finland">Finland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/FR.html"
                                                title="France">France</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/DE.html"
                                                title="Germany">Germany</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HK.html"
                                                title="Hong Kong">Hong Kong</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/HU.html"
                                                title="Hungary">Hungary</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IN.html"
                                                title="India">India</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IE.html"
                                                title="Ireland">Ireland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IL.html"
                                                title="Israel">Israel</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/IT.html"
                                                title="Italy">Italy</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/JP.html"
                                                title="Japan">Japan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/LU.html"
                                                title="Luxembourg">Luxembourg</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/MX.html"
                                                title="Mexico">Mexico</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NL.html"
                                                title="Netherlands">Netherlands</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NZ.html"
                                                title="New Zealand">New Zealand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/NO.html"
                                                title="Norway">Norway</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/PL.html"
                                                title="Poland">Poland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RO.html"
                                                title="Romania">Romania</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/RU.html"
                                                title="Russia">Russia</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ZA.html"
                                                title="South Africa">South Africa</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/KR.html"
                                                title="South Korea">South Korea</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/ES.html"
                                                title="Spain">Spain</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/SE.html"
                                                title="Sweden">Sweden</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/CH.html"
                                                title="Switzerland">Switzerland</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TW.html"
                                                title="Taiwan">Taiwan</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/TH.html"
                                                title="Thailand">Thailand</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/GB.html"
                                                title="United Kingdom">United Kingdom</a></li>
                    
                        <li class="nav-item"><a class="nav-link" href="../country/US.html"
                                                title="United States of America">United States of America</a></li>
                    
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="sb_footer">
        <div class="sb_f-menu">
            <a href="../terms.html" title="Terms of service">Terms of service</a><span class="space">-</span>
            <a href="../contact.html" title="Contact">Contact</a><span class="space">-</span>
            <a href="../sitemap.xml" title="Sitemap">Sitemap</a>
            
            
            <div class="sb_f-copyright">© 2020 Solarmovies</div>
        </div>
    </div>
</div>

    <div id="wrapper">
        <div id="header">
    <div class="container">
        <div id="mobile_menu"><i class="fas fa-bars"></i></div>
        <a href="../index.html" id="logo" title="Solarmovies"><img
                    src="https://img.solarmovies.win/xxrz/400x400/100/dd/b2/ddb2bac796109ce3c61b955f4854ef9d/ddb2bac796109ce3c61b955f4854ef9d.png"
                    title="Solarmovies" alt="Solarmovies">
            
        </a>
        <div id="search">
            <div class="search-content">
                <form @submit="search">
                    <input v-model="keyword" type="text" class="form-control search-input" autocomplete="off"
                           name="keyword" placeholder="Enter keywords...">
<!--                    <a data-toggle="modal" data-target="#modalfilter" class="btn btn-sm search-filter"><i class="fas fa-sliders-h"></i></a>-->
                    <button class="btn btn-sm search-submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav search-result-pop search-suggest"></div>
            </div>
        </div>
        <div id="header_right">
            <div id="user-slot"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

        <!--Begin: Main-->
        <div id="main-wrapper" class="main-wrapper-detail">
            <!--Begin: Detail-->
            <div class="detail_page detail_page-style">
                <div class="container">
                    <div class="prebreadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item">
                                    
                                    <a href="../movie.html" title="Movie">Movies</a>
                                    
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">May 18</li>
                            </ol>
                        </nav>
                    </div>
                    <!--Begin: Watch-->
                    <div class="detail_page-watch" data-id="64169" data-type="1">
                        <div class="dp-w-cover"
                             style="background-image: url(https://img.solarmovies.win/xxrz/1200x600/373/e2/a6/e2a65cb1073a197e5fdccd4ed7d73739/e2a65cb1073a197e5fdccd4ed7d73739.jpg);">
                            
                                
                                    <a href="../watch-movie/watch-may-18-online-64169.html"
                                       class="dp-w-c-play"><i class="fas fa-play"></i></a>
                                
                            
                        </div>
                        <div class="detail_page-infor border-bottom-block">
                            <div class="dp-i-content">
                                <div class="dp-i-c-poster">
                                    <div class="film-poster mb-2">
                                        <img class="film-poster-img"
                                             src="https://img.solarmovies.win/xxrz/250x400/373/13/19/1319f34fe3406d2ff023a36a9554d4b7/1319f34fe3406d2ff023a36a9554d4b7.jpg"
                                             title="May 18"
                                             alt="May 18">
                                    </div>
                                    <div class="block-rating" id="block-rating"></div>
                                </div>
                                <div class="dp-i-c-right">
                                    <div class="dp-i-c-stick mb-0">
                                        
                                            
                                                <a href="../watch-movie/watch-may-18-online-64169.html"
                                                   title="Watch now"
                                                   class="btn btn-radius btn-focus float-right"><i
                                                            class="fas fa-play mr-2"></i>Watch now
                                                </a>
                                            
                                        
                                        <div style="width: 100%; display: contents;" id="favorite-state"
                                             class="float-right"></div>
                                        
                                    </div>
                                    <h2 class="heading-name"><a
            href="may-18-64169.html">May 18</a></h2>
<div class="dp-i-stats">
    <span class="item mr-1"><button data-toggle="modal" data-target="#modaltrailer" class="btn btn-sm btn-trailer"><i
                    class="fas fa-video mr-2"></i>Trailer</button></span>
    <span class="item mr-1"><button
                class="btn btn-sm btn-quality"><strong>HD</strong></button></span>
    <span class="item mr-2"><button
                class="btn btn-sm btn-warning">IMDB: 6.9</button></span>
</div>
<div class="description">
    The citizens of Gwangju lead a relatively peaceful life, until one day the military takes over the city, accusing the residents of conspiracy and claiming that they are communist sympathisers preparing a revolution against the current government. Seeing as the soldiers beat defenceless people, mainly students, to death, the citizens are in for retaliation and form a militia.
</div>
<div class="elements">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Released: </strong></span> 2007-07-25
            </div>
            <div class="row-line">
                <span class="type"><strong>Genre: </strong></span>
                
                    <a href="../genre/drama.html"
                       title="Drama">Drama</a>, 
                
                    <a href="../genre/history.html"
                       title="History">History</a>, 
                
                    <a href="../genre/action.html"
                       title="Action">Action</a>, 
                
                    <a href="../genre/adventure.html"
                       title="Adventure">Adventure</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Casts: </strong></span>
                
                    <a href="../cast/kim-sangkyung.html"
                       title="Kim Sang-kyung">Kim Sang-kyung</a>, 
                
                    <a href="../cast/ahn-sungki.html"
                       title="Ahn Sung-ki">Ahn Sung-ki</a>, 
                
                    <a href="../cast/park-wonsang.html"
                       title="Park Won-sang">Park Won-sang</a>, 
                
                    <a href="../cast/song-jaeho.html"
                       title="Song Jae-ho ">Song Jae-ho </a>, 
                
                    <a href="../cast/lee-joongi.html"
                       title="Lee Joon-gi">Lee Joon-gi</a>
                
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12">
            <div class="row-line">
                <span class="type"><strong>Duration: </strong></span> 118
                min
            </div>
            <div class="row-line">
                <span class="type"><strong>Country: </strong></span>
                
                    <a href="../country/kr.html"
                       title="South Korea">South Korea</a>
                
            </div>
            <div class="row-line">
                <span class="type"><strong>Production: </strong></span>
                
                    <a href="../production/cj-entertainment.html"
                       title="CJ Entertainment">CJ Entertainment</a>, 
                
                    <a href="../production/kihweck-shidae.html"
                       title="KiHweck ShiDae">KiHweck ShiDae</a>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-tags mb-3">
                        <h2 class="btn btn-sm btn-light btn-dtag">Watch May 18 Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">May 18 Online Free</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">Where to watch May 18</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">May 18 movie free online</h2>
                        <h2 class="btn btn-sm btn-light btn-dtag">May 18 free online</h2>
                    </div>
                    <!--End: Watch-->
                    <div class="addthis_inline_share_toolbox" data-url="https://solarmovies.win/movie/watch-may-18-online-64169"
                         style="margin-top: 20px; margin-bottom: 20px; text-align: center;"></div>
                    
                        <div id="content-episodes"></div>
                    
                </div>
            </div>
            <!--End: Detail-->
            <!--Begin: Related-->
            <div class="film_related file_realted-list">
                <div class="container">
                    <!--Begin: Section film list-->
                    <section class="block_area block_area_category">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">You may also like</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content block_area-list film_list film_list-grid">
                            <div class="film_list-wrap">
                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/0a/f1/0af12f91b83aa35353a0f8a68bff5809/0af12f91b83aa35353a0f8a68bff5809.jpg" class="film-poster-img lazyload"
             title="1899" alt="1899">
        <a href="../tv/1899-89833.html" class="film-poster-ahref flw-item-tip"
           title="1899" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/1899-89833.html" 
                        title="1899">1899</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 8</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/cc/f9/ccf95a01a4542cf948f5a47f0b834fed/ccf95a01a4542cf948f5a47f0b834fed.jpg" class="film-poster-img lazyload"
             title="May I Help You" alt="May I Help You">
        <a href="../tv/may-i-help-you-89425.html" class="film-poster-ahref flw-item-tip"
           title="May I Help You" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/may-i-help-you-89425.html" 
                        title="May I Help You">May I Help You</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 11</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/82/00/82001ba9e67b3ecbc92d4e9b0cfc5ad3/82001ba9e67b3ecbc92d4e9b0cfc5ad3.jpg" class="film-poster-img lazyload"
             title="May It Please The Court" alt="May It Please The Court">
        <a href="../tv/may-it-please-the-court-88408.html" class="film-poster-ahref flw-item-tip"
           title="May It Please The Court" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/may-it-please-the-court-88408.html" 
                        title="May It Please The Court">May It Please The Court</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 12</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/93/31/93319b36b60cb5a43dc452d2d3dbda2a/93319b36b60cb5a43dc452d2d3dbda2a.jpg" class="film-poster-img lazyload"
             title="18½" alt="18½">
        <a href="18-81790.html" class="film-poster-ahref flw-item-tip"
           title="18½" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="18-81790.html" 
                        title="18½">18½</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2022</span>
                    <i class="dot"></i>
                    <span>89m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/a2/9d/a29d6a94e90c866b0b9f8fc12467bec2/a29d6a94e90c866b0b9f8fc12467bec2.jpg" class="film-poster-img lazyload"
             title="1883" alt="1883">
        <a href="../tv/1883-75574.html" class="film-poster-ahref flw-item-tip"
           title="1883" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/1883-75574.html" 
                        title="1883">1883</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 10</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/52/b6/52b664f62bc556f593ce941d9b92276c/52b664f62bc556f593ce941d9b92276c.jpg" class="film-poster-img lazyload"
             title="Youth of May" alt="Youth of May">
        <a href="../tv/youth-of-may-69671.html" class="film-poster-ahref flw-item-tip"
           title="Youth of May" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/youth-of-may-69671.html" 
                        title="Youth of May">Youth of May</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 12</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f4/d5/f4d58fc6e1a1e979bb4fb36e26875952/f4d58fc6e1a1e979bb4fb36e26875952.jpg" class="film-poster-img lazyload"
             title="Devil May Care" alt="Devil May Care">
        <a href="../tv/devil-may-care-67753.html" class="film-poster-ahref flw-item-tip"
           title="Devil May Care" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/devil-may-care-67753.html" 
                        title="Devil May Care">Devil May Care</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 7</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/fa/dd/fadde6308704907a1d72fcd4a2eda7ec/fadde6308704907a1d72fcd4a2eda7ec.jpg" class="film-poster-img lazyload"
             title="James May: Oh Cook!" alt="James May: Oh Cook!">
        <a href="../tv/james-may-oh-cook-64655.html" class="film-poster-ahref flw-item-tip"
           title="James May: Oh Cook!" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/james-may-oh-cook-64655.html" 
                        title="James May: Oh Cook!">James May: Oh Cook!</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 7</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/07/71/0771c78368e9b82fe07a2d6b95dc3dc4/0771c78368e9b82fe07a2d6b95dc3dc4.jpg" class="film-poster-img lazyload"
             title="People You May Know" alt="People You May Know">
        <a href="people-you-may-know-63881.html" class="film-poster-ahref flw-item-tip"
           title="People You May Know" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="people-you-may-know-63881.html" 
                        title="People You May Know">People You May Know</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>92m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/7a/df/7adf5d8707b2ce2d0bc3a7c311d8918b/7adf5d8707b2ce2d0bc3a7c311d8918b.jpg" class="film-poster-img lazyload"
             title="18 Again" alt="18 Again">
        <a href="../tv/18-again-64781.html" class="film-poster-ahref flw-item-tip"
           title="18 Again" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/18-again-64781.html" 
                        title="18 Again">18 Again</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 16</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/f1/d3/f1d3fccd752f1644000e61665e484f7e/f1d3fccd752f1644000e61665e484f7e.jpg" class="film-poster-img lazyload"
             title="I May Destroy You" alt="I May Destroy You">
        <a href="../tv/i-may-destroy-you-61619.html" class="film-poster-ahref flw-item-tip"
           title="I May Destroy You" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/i-may-destroy-you-61619.html" 
                        title="I May Destroy You">I May Destroy You</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 1</span>
                    <i class="dot"></i>
                    <span>EPS 12</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/38/4a/384a362277e293417a3bc2d82b2db802/384a362277e293417a3bc2d82b2db802.jpg" class="film-poster-img lazyload"
             title="May the Devil Take You Too" alt="May the Devil Take You Too">
        <a href="may-the-devil-take-you-too-68154.html" class="film-poster-ahref flw-item-tip"
           title="May the Devil Take You Too" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="may-the-devil-take-you-too-68154.html" 
                        title="May the Devil Take You Too">May the Devil Take You Too</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>109m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/9a/fe/9afe70744c2e9339b22e79539765e37a/9afe70744c2e9339b22e79539765e37a.jpg" class="film-poster-img lazyload"
             title="James May: Our Man In Japan" alt="James May: Our Man In Japan">
        <a href="../tv/james-may-our-man-in-japan-63711.html" class="film-poster-ahref flw-item-tip"
           title="James May: Our Man In Japan" rel=&#34;nofollow&#34;><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="../tv/james-may-our-man-in-japan-63711.html" rel=&#34;nofollow&#34;
                        title="James May: Our Man In Japan">James May: Our Man In Japan</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>SS 2</span>
                    <i class="dot"></i>
                    <span>EPS 6</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/43/b2/43b2606ed7c56e920b35e4085930f026/43b2606ed7c56e920b35e4085930f026.jpg" class="film-poster-img lazyload"
             title="18 Presents" alt="18 Presents">
        <a href="18-presents-64808.html" class="film-poster-ahref flw-item-tip"
           title="18 Presents" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="18-presents-64808.html" 
                        title="18 Presents">18 Presents</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2020</span>
                    <i class="dot"></i>
                    <span>114m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/21/05/21056af697c528e2030230d808f55145/21056af697c528e2030230d808f55145.jpg" class="film-poster-img lazyload"
             title="1800 gramów" alt="1800 gramów">
        <a href="1800-gramow-65711.html" class="film-poster-ahref flw-item-tip"
           title="1800 gramów" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="1800-gramow-65711.html" 
                        title="1800 gramów">1800 gramów</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>100m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                    
<div class="flw-item">
    <div class="film-poster">
        <img data-src="https://img.solarmovies.win/xxrz/250x400/373/80/9d/809d51e06f11de340406a3fd4aab8069/809d51e06f11de340406a3fd4aab8069.jpg" class="film-poster-img lazyload"
             title="18 to Party" alt="18 to Party">
        <a href="18-to-party-65514.html" class="film-poster-ahref flw-item-tip"
           title="18 to Party" ><i
                    class="fas fa-play"></i></a>
    </div>
    <div class="film-detail">
        
            <h3 class="film-name"><a
                        href="18-to-party-65514.html" 
                        title="18 to Party">18 to Party</a>
            </h3>
        
        <div class="film-infor">
            <span class="fi-ql">HD</span>
            
                
                    <span>2019</span>
                    <i class="dot"></i>
                    <span>80m</span>
                
            
        </div>
    </div>
    <div class="clearfix"></div>
</div>

                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </section>
                    <!--End: Section film list-->
                </div>
            </div>
            <!--End: Related-->
        </div>
        <!--End: Main-->
    </div>
    <div style="text-align:center;margin-bottom: 20px;margin-top:20px;display:none;" id="hgiks-bottom"></div>
<h1 style="display: none;">Watch May 18 Solarmovies - Free HD Quality</h1>

    <!--Begin: Modal-->
    <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
     aria-labelledby="modallogintitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <!--Begin: tab login-->
                <div id="modal-tab-login" class="tab-pane active auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle">Welcome back!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="login" method="post">
                            <div v-if="error_login" class="alert alert-danger" role="alert">{{error_message}}</div>
                            <div class="form-group">
                                <label class="prelabel" for="email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-check custom-control custom-checkbox">
                                <div class="float-left">
                                    <input name="remember" v-model="remember" type="checkbox"
                                           class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <div class="float-right">
                                    <a @click="show_forgot" href="javascript:void(0)"
                                       class="link-highlight text-forgot">Forgot password?</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Login</button>
                                <div class="loading-relative" id="login-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Don't have an account? <a @click="show_register" href="javascript:void(0)"
                                                  class="link-highlight"
                                                  title="Register">Register</a>
                    </div>
                </div>
                <!--End: tab login-->
                <!--Begin: tab forgot-->
                <div id="modal-tab-forgot" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="forgot_password" method="post">
                            <div class="form-group">
                                <label class="prelabel" for="forgot-email">Your Email</label>
                                <input v-model="email" type="email" class="form-control" id="forgot-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a @click="show_login" class="link-highlight" title="Sign-in"><i
                                    class="fa fa-angle-left mr-2"></i>Back
                            to Login</a>
                    </div>
                </div>
                <!--End: tab forgot-->
                <!--Begin: tab register-->
                <div id="modal-tab-register" class="tab-pane fade auth-tab">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="preform" @submit="register" method="post">
                            <div v-if="error_register" class="alert alert-danger" role="alert">{{error_message}}
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-username">Your name</label>
                                <input v-model="name" type="text" class="form-control" id="re-username"
                                       placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-email">Email address</label>
                                <input v-model="email" type="email" class="form-control" id="re-email"
                                       placeholder="name@email.com" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel" for="re-password">Password</label>
                                <input v-model="password" type="password" class="form-control" id="re-password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="prelabel"
                                       for="re-confirmpassword">Confirm Password</label>
                                <input v-model="confirm_password" type="password" class="form-control"
                                       id="re-confirmpassword"
                                       placeholder="Confirm Password" autocomplete="off" required>
                            </div>
                            <div class="form-group login-btn mt-4">
                                <button class="btn btn-primary btn-block">Register</button>
                                <div class="loading-relative" id="register-loading" style="display: none;">
                                    <div class="loading">
                                        <div class="span1"></div>
                                        <div class="span2"></div>
                                        <div class="span3"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Have an account? <a @click="show_login" class="link-highlight"
                                            title="Login">Login</a>
                    </div>
                </div>
                <!--End: tab register-->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade premodal premodal-trailer" id="modaltrailer" tabindex="-1" role="dialog"
         aria-labelledby="modaltrailertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="iframe16x9">
                        <iframe width="560" height="315"
                                id="iframe-trailer" data-src="https://www.youtube.com/embed/FxuwDDt8ON4"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End: Modal-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"
        async></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da59293a14f83e9" async></script>

    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=77196c29-9d2b-4414-bc79-7543a13d07e3" async></script>
    <!-- End of  Zendesk Widget script -->

<script type="text/javascript" src="../js/sly.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/psbar.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>
<script>var currPage = 'detail';</script>
<script type="text/javascript"
        src="../js/group_2/app.min.js@v=6.3"></script>



<script>
    $(document).ready(function () {
        check_favorite();
        // get_episodes();
        vote_info();

        if (movie.type == 2) {
            $.get("/ajax/v2/tv/seasons/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        } else {
            $.get("/ajax/movie/episodes/" + movie.id, function (res) {
                $('#content-episodes').html(res);
            });
        }
    });
</script>
</body>
</html>
